*, *:after, *:before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

button{
  background-color: transparent;
  outline: none;
}

svg{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1{
  @include fontEtelkaWideMedium;
  font-size: 48px;
}

.top-0{
  margin-top: -125px;
}

.container-top-block{
  width: 100%;
  background-color: #002855;
  font-size: 0;
  position: relative;
  padding: 9px 0;
}

.container-top-block_tel{
  position: absolute;
  padding: 15px 25px;
  top: 0;
  left: 50%;
  width: 1440px;
  margin: 0 auto;
  text-align: right;
  transform: translate(-50%,0);
  &:hover{
    span{
      color: #fb4716;
      border-color: #fb4716;
    }
  }
  span{
    @include fontEtelkaTextPro;
    font-size: 16px;
    color: white;
    border-bottom: 2px dotted white;
    padding-bottom: 2px;
    @include hover-time-all;
  }
}

.container-top-block_name-comany{
  @include display-inline-middle;
  width: 50%;
  padding-right: 22px;
  @include fontEtelkaTextPro;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-align: right;
}

.container-top-block_diler{
  border-left: 1px solid #c5c9cd;
  @include display-inline-middle;
  width: 50%;
  padding-left: 17px;
  .icon-diler{
    width: 30px;
    height: 30px;
    @include display-inline-middle;
    margin-right: 8px;
    svg{
      width: 30px;
      height: 30px;
      .st0{
        fill: #fb4614;
      }
    }
  }
  span{
    @include fontEtelkaLightPro;
    font-size: 14px;
    color: #fb4614;
    @include display-inline-middle;
    margin-right: 5px;
  }
  .txt{
    @include fontEtelkaLightPro;
    font-size: 14px;
    color: #c5c9cd;
    @include display-inline-middle;
  }
}

.container-wrapper-ordering{
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.wrapper-ordering{
  width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 80px 120px 65px 120px;
}

.wrapper-ordering-advantage{
  width: 22%;
  position: relative;
  float: left;
  z-index: 5;
  padding-top: 40px;
  .wrapper-ordering-advantage_title{
    @include fontEtelkaTextPro;
    font-size: 24px;
    color: #2b2c2d;
    margin-bottom: 20px;
  }
  .wrapper-ordering-advantage_list{
    ul{
      li{
        @include fontEtelkaLightPro;
        font-size: 16px;
        color: #616365;
        padding-left: 45px;
        position: relative;
        padding-top: 3px;
        line-height: 1.5;
        margin-bottom: 15px;
        &:before{
          content: '';
          display: block;
          position: absolute;
          background-image: url("../img/priemyschestva.svg");
          width: 25px;
          height: 25px;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.wrapper-ordering-form_form{
  margin-left: 28%;
  padding: 20px 150px 20px 0;
}

.wrapper-ordering-form {

}

.box-input{
  position: relative;
  .form-label{
    position: relative;
    &:before{
      content: "";
      display: block;
      width: 96%;
      height: 28px;
      background-color: #fff;
      position: absolute;
      top: 2px;
      left: 0;
      z-index: 5;
      margin-left: 4px;
      pointer-events: none;
    }
    .input-label{
      position: absolute;
      z-index: 5;
      margin-top: 20px;
      transition: all 0.3s ease;
      padding-left: 20px;
      padding-right: 20px;
      @include fontEtelkaLightPro;
      font-size: 18px;
      color: #616365;
      pointer-events: none;
      width: 100%;
      span{
        color: #fb4614;
      }
    }
    .label-focus{
      padding-top: 13px;
      margin-top: 0;
      font-size: 12px;
      color: #616365;
      padding-bottom: 8px;
      //&:before{
      //  content: '';
      //  display: block;
      //  width: 100%;
      //  height: 30px;
      //  background-color: white;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //}
    }
  }
  .form-input{
    .input-box{
      width: 100%;
      margin-bottom: 18px;
      @include fontEtelkaLightPro;
      font-size: 18px;
      color: #616365;
      padding: 27px 20px 8px 20px;
      position: relative;
      z-index: 4;
      border: 1px solid #ced5db;
      transition: all 0.3s ease;
      box-shadow:0px 5px 20px 0px rgba(179, 193, 207, 0.4);
      border-radius: 2px;
      &:hover{
        border-color: #002855 !important;
      }
    }
  }
  .textarea-box{
    border: none;
    resize: none;
    height: 103px;
  }
}
.box-input-t{
  font-size: 0;
  .w-80{
    @include display-inline-top;
    width: 70%;
    margin-right: 2%;
  }
  .w-20{
    @include display-inline-top;
    width: 28%;
  }
  .w-50{
    @include display-inline-top;
    width: 49%;
    &:first-child{
      margin-right: 1%;
      margin-left: 0;
    }
    &:last-child{
      margin-left: 1%;
      margin-right: 0;
    }
  }
}
.box-check{
  margin-top: 10px;
  margin-bottom: 35px;
  .input-wrapp {
    padding: 5px 0;
    position: relative;
    input.ch[type=checkbox]+label {
      padding-left: 48px;
      @include fontEtelkaLightPro;
      font-size: 14px;
      color: #616365;
      cursor: pointer;
      &:hover {
        color: #000;
      }
      a{
        color: #fb4614;
        span{
          display: inline-block;
          position: relative;
          padding-bottom: 3px;
          &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fb4614;
            transition: all,ease,.3s;
          }
        }
        &:hover span:after{
          width: 0;
        }
      }
    }
    input.ch[type=checkbox]:checked {
      color: #c6c6c6;
    }
    input.ch[type=checkbox]:checked+label {
      color: #000;
    }
    input.ch[type=checkbox]:checked+label:after {
      border-color: #000;
    }
    input.ch[type=checkbox]:checked+label:after {
      background-image: url(../img/uEA01-check-symbol-black.svg);
    }
    input.ch[type=checkbox]+label:after {
      left: 0;
    }
    label {
      font-size: 1.5rem;
      word-wrap: break-word;
    }
    input.ch[type=checkbox]+label:after{
      content: '';
      color: #757e1f;
      font-family: pf_medium;
      margin-right: 5%;
      font-size: 0;
      border: 1px solid #c6c6c6;
      padding: 13px;
      border-radius: 1px;
      background-image: none;
      background-size: 85%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-color: white;
      display: block;
      position: absolute;
      margin-top: 0;
      top: 0;
      left: 0;
      box-shadow:0px 5px 20px 0px rgba(179, 193, 207, 0.4);
    }
    input.ch[type=checkbox] {
      width: 0;
    }
  }
  .input-wrapp.has-error{
    input.ch[type=checkbox]+label:after{
      border-color: #eb1c22;
    }
  }
}

.form-input.has-error{
  .input-box{
    border-color: #eb1c22;
  }
  .form-error{
    @include fontEtelkaLightPro;
    font-size: 14px;
    color: #fb4614;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 6;
  }
}

.btn-form{
  @include fontEtelkaLightPro;
  font-size: 16px;
  color: white;
  background-color: #fb4614;
  padding: 15px 38px;
  border-radius: 3px;
  transition: all .5s ease-out;
  &:hover{
    background-color: #fe0000;
  }
}

.wrapper-number-puncts{
  position: absolute;
  .wrapper-number-puncts_number{
    @include fontEtelkaWideMediumBold;
    font-size: 32px;
    color: #002855;
  }
  .wrapper-number-puncts_txt{
    @include fontEtelkaWideMedium;
    text-transform: uppercase;
    color: #65646a;
    font-size: 12px;
  }
}

.wrapper-advantage-btn{
  font-size: 0;
  margin-left: 28%;
  margin-bottom: 20px;
}

.wrapper-advantage-btn_blue.current-f{
  cursor: pointer;
  @include display-inline-top;
  background-color: #002855;
  padding: 6px 18px;
  .icon-priemyschestva{
    width: 30px;
    height: 30px;
    @include display-inline-middle;
    &:before{
      content: '';
      @include display-inline-middle;
      width: 30px;
      height: 30px;
      background-image: url("../img/priem.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  span{
    font-size: 16px;
    color: white;
    @include display-inline-middle;
    @include fontEtelkaLightPro;
    margin-left: 10px;
  }
}

.wrapper-advantage-btn_blue{
  color: #616365;
  @include display-inline-top;
  @include fontEtelkaLightPro;
  font-size: 16px;
  background: white;
  padding: 6px 18px;
  cursor: pointer;
  .icon-priemyschestva{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    &:before{
      display: none;
    }
  }
}

.wrapper-advantage-btn_white{
  color: #616365;
  @include display-inline-top;
  @include fontEtelkaLightPro;
  font-size: 16px;
  background: white;
  padding: 6px 18px;
  cursor: pointer;
  .icon-priemyschestva{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
  }
}

.wrapper-advantage-btn_white.current-f{
  cursor: pointer;
  @include display-inline-top;
  background-color: #002855;
  padding: 6px 18px;
  .icon-priemyschestva{
    width: 30px;
    height: 30px;
    @include display-inline-middle;
    &:before{
      content: '';
      @include display-inline-middle;
      width: 30px;
      height: 30px;
      background-image: url("../img/priem.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  span{
    font-size: 16px;
    color: white;
    @include display-inline-middle;
    @include fontEtelkaLightPro;
    margin-left: 10px;
  }
}


.border-top{
  border-top: 1px solid #e8e8e8;
}

.container-wrapper-main{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper-main{
  width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 80px 120px 65px;
}

.wrapper-container-last-news{
  position: absolute;
  top: 215px;
  width: 22%;
  .wrapper-container-last-news_title{
    @include fontEtelkaTextPro;
    font-size: 24px;
    color: #2b2c2d;
    margin-bottom: 23px;
  }
  .wrapper-container-last-news_txt{
    @include fontEtelkaLightPro;
    font-size: 18px;
    color: #002855;
    line-height: 1.6;
    margin-bottom: 23px;
  }
  .wrapper-container-last-news_link{
    @include fontEtelkaLightPro;
    color: #fb4614;
    font-size: 18px;
    span{
      display: inline-block;
      position: relative;
      padding-bottom: 3px;
      &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fb4614;
        transition: all,ease,.3s;
      }
    }
    &:hover{
      span:after{
        width: 0;
      }
    }
  }
}

.wrapper-container-slider{
  margin-left: 28%;
  width: 100%;
  .swiper-button-next{
    background: url(../img/pagination/p_normal.svg);
    width: 47px;
    height: 47px;
    background-size: 47px 47px;
    display: block;
    -webkit-box-shadow: 0 2px 7px -2px rgba(0,0,0,.75);
    box-shadow: 0 2px 7px -2px rgba(0,0,0,.75);
    border-radius: 50%;
    top: auto;
    bottom: 22%;
    right: auto;
    left: 180px;
  }
  .swiper-button-prev{
    background: url(../img/pagination/p_normal.svg);
    width: 47px;
    height: 47px;
    background-size: 47px 47px;
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-shadow: 0 -2px 7px -2px rgba(0,0,0,.75);
    box-shadow: 0 -2px 7px -2px rgba(0,0,0,.75);
    border-radius: 50%;
    top: auto;
    bottom: 22%;
    left: 120px;
  }

}

.container-slider-rigth{
  width: 100%;
  position: relative;
  overflow: hidden;
  .swiper-wrapper{
    .swiper-slide{
      &:hover{
        .swiper-block-content-link, .swiper-block-content_title{
          color: #fb4614;
        }
      }
    }
    .swiper-block-content-img{
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
      padding: 20px 15px;
      margin-bottom: 40px;
      .swiper-block-content-block-left{
        float: left;
        width: 50%;
        .swiper-block-content-img_logo{
          width: 90%;
          img{
            width: 100%;
          }
        }
        .swiper-block-content-img_name{
          @include fontEtelkaTextBoldPro;
          font-size: 18px;
          color: white;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        .swiper-block-content-img_structure{
          @include fontEtelkaLightPro;
          font-size: 16px;
          color: white;
        }
      }
      .swiper-block-content-block-right{
        float: right;
        width: 33%;
        .swiper-block-content-img_rew{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
    .swiper-block-content-link{
      border: 1px solid #002855;
      border-radius: 2px;
      color: #002855;
      font-size: 12px;
      @include  fontEtelkaTextPro;
      padding: 7px 14px;
      margin-bottom: 30px;
      display: inline-block;
      @include hover-time;
    }
    .swiper-block-content{
      .swiper-block-content_number{
        font-size: 0;
        margin-bottom: 10px;
        .number{
          @include display-inline-middle;
          @include fontEtelkaWideMedium;
          font-size: 36px;
          color: #002855;
          margin-right: 12px;
        }
        .txt{
          @include display-inline-middle;
          @include fontEtelkaTextPro;
          font-size: 12px;
          color: #002855;
        }
      }
      .swiper-block-content_title{
        @include fontEtelkaTextPro;
        font-size: 24px;
        color: #2b2c2d;
        margin-bottom: 22px;
        @include hover-time;
      }
      .swiper-block-content_txt{
        @include fontEtelkaLightPro;
        font-size: 16px;
        color: #616365;
        line-height: 1.6;
      }
    }
  }
}

.wrapper-counter-text{
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper-counter{
  align-content: stretch;
  position: relative;
  width: 24%;
  z-index: 5;
  .block-counter{
    width: 94%;
    background-size: cover;
    text-align: center;
    padding: 85px 20px 0 20px;
    position: relative;
    //position: -webkit-sticky;
    //position: sticky;
    .block-counter_percent{
      @include fontEtelkaLightPro;
      font-size: 50px;
      color: #002855;
    }
    .block-counter_txt{
      @include fontEtelkaLightPro;
      font-size: 16px;
      color: #5b6971;
    }
    .block-clock{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .st0{
        fill: #002855;
      }
    }
  }
}

.wrapper-content-text{
  align-content: stretch;
  position: relative;
  width: 76%;
  padding-left: 4%;
}

.block-content-text_list{
  margin-bottom: 47px;
  .h3{
    @include fontEtelkaTextPro;
    font-size: 24px;
    color: #2b2c2d;
    margin-bottom: 15px;
  }
  p{
    @include fontEtelkaLightPro;
    font-size: 16px;
    color: #616365;
    line-height: 1.6;
    margin-bottom: 10px;
  }
}

.block-bg-blue{
  width: 100%;
  background-color: #002855;
  height: 620px;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper-slider-text{
  width: 100%;
  position: relative;
  margin-bottom: 65px;
}

.white-txt{
  color: white !important;
}

.container-slider-text{
  width: 40%;
  position: absolute;
  top: 25px;
  right: 0;
  .slider-text_logo-dealer{
    font-size: 0;
    margin-bottom: 48px;
    .slider-text_logo{
      @include display-inline-middle;
      @include fontEtelkaTextPro;
      font-size: 24px;
      color: #fff;
      margin-right: 20px;
    }
    .slider-text_dealer{
      @include display-inline-middle;
      font-size: 0;
      border-left: 1px solid #788da5;
      padding-left: 23px;
      .icon-dealer{
        width: 30px;
        height: 30px;
        @include display-inline-middle;
        margin-right: 5px;
      }
      .dealer-txt{
        @include fontEtelkaLightPro;
        @include display-inline-middle;
        font-size: 12px;
        color: #f64224;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
  p{
    @include fontEtelkaLightPro;
    font-size: 18px;
    color: #adb6c1;
    line-height: 1.6;
    margin-bottom: 23px;
  }
  a{
    @include fontEtelkaLightPro;
    font-size: 18px;
    color: white;
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    span:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fb4614;
      transition: all,ease,.3s;
    }
    &:hover{
      span:after{
        width: 0;
      }
    }
  }
}

.container-slider-small{
  width: 53%;
  overflow: hidden;
  position: relative;
  .wrapper-slider-small{
    .swiper-slide{
      img{
        width: 100%;
      }
    }
    .swiper-pagination{
      .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
        background-color: white;
        opacity: 1;
        margin: 0 12px;
      }
      .swiper-pagination-bullet-active{
        background-color: #fb4614;
      }
    }
  }
  .swiper-pagination-bullets{
    left: 70px;
  }
}

.wrapper-number-list{
  width: 100%;
  position: relative;
  .wrapper-container-big-number{
    margin-left: 28%;
    .container-big-number{
      margin-bottom: 50px;
    }
  }
}

.wrapper-slider-timer-small{
  width: 100%;
  position: relative;
  height: 405px;
  .bg-img{
    width: 100%;
    height: 405px;
  }
  .sangar-content_txt{
    padding: 65px 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sangar-content{
    width: 100%;
    height: 405px;
    background-size: cover;
    background-position: center center;
    .sangar-content_title{
      font-size: 24px;
      color: #fff;
      margin-bottom: 50px;
      @include fontEtelkaTextPro;
      span:last-child{
        border-left: 1px solid #7f8c9e;
        padding-left: 20px;
      }
      span{
        padding-right: 20px;
      }
    }
    .sangar-content_text{
      @include fontEtelkaLightPro;
      font-size: 18px;
      color: #adb6c1;
      width: 665px;
      line-height: 1.6;
    }
  }
  .sangar-slideshow-container>.default .sangar-pagination-wrapper{
    background: none;
    opacity: 1 !important;
  }
  .sangar-slideshow-container .sangar-pagination-wrapper.wrapper-content-horizontal{
    bottom: 130px;
    left: 38px;
    right: auto;
  }
  .sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active>div:before{
    border: 2px solid #ff4c0b;
    border-radius: 50%;
  }
  .sangar-slideshow-container .sangar-wrapper .sangar-pagination-type-image>li>div{
    opacity: .4;
  }
  .sangar-slideshow-container .sangar-wrapper .sangar-pagination-type-image>li>div>img{
    border-radius: 50%;
  }
  .sangar-slideshow-container .sangar-wrapper .sangar-pagination-type-image>li.sangar-pagination-active>div{
    opacity: 1 !important;
  }
  .sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination-content-horizontal{
    z-index: 2;
  }
}

.sangar-slideshow-container>.default div.sangar-timer div.sangar-timer-mask{
  background-color: #fb4614 !important;
}

.container-slider-timer-big{
  width: 100%;
  position: relative;
}

.container-main-big{
  .sangar-content{
    width: 100%;
  }
  .sangar-content >img{
    height: 100% !important;
  }
  .sangar-slideshow-container>.default .sangar-pagination-wrapper{
    background: none;
    opacity: 1 !important;
  }
  .sangar-slideshow-container .sangar-pagination-wrapper.wrapper-content-horizontal{
    bottom: 45px;
    left: auto;
    right: 50px;
  }
  .sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active>div:before{
    border: 2px solid #ff4c0b;
    border-radius: 50%;
  }
  .sangar-slideshow-container .sangar-wrapper .sangar-pagination-type-image>li>div{
    opacity: .4;
  }
  .sangar-slideshow-container .sangar-wrapper .sangar-pagination-type-image>li>div>img{
    border-radius: 50%;
  }
  .sangar-slideshow-container .sangar-wrapper .sangar-pagination-type-image>li.sangar-pagination-active>div{
    opacity: 1 !important;
  }
  .sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination-content-horizontal{
    z-index: 2;
  }
  .sangar-slideshow-container div.sangar-timer{
    top: 128px;
    @include hover-time-all;
  }
}

.content-slider-big{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper-content-slider{
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 80px 70px 65px;
  height: 100%;
  .wrapper-content-slider_text{
    padding: 0px 50px 75px;
    margin-top: 20vh;
    margin-right: 41%;
  }
  .h1{
    @include fontEtelkaMediumPro;
    margin-top: 0;
    color: white;
    padding-top: 50px;
    font-size: 48px;
  }
  .h1 + .btn-form{
    margin-top: 45px;
    display: inline-block;
  }
}

.white-img{
  .wrapper-content-slider{
    position: relative;
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    .wrapper-content-slider_text{
      background-color: #002855;
      padding: 0px 50px 85px;
      margin-top: 20vh;
      margin-right: 41%;
    }
    .h1{
      @include fontEtelkaMediumPro;
      margin-top: 0;
      color: white;
      padding-top: 50px;
      font-size: 48px;
    }
  }
}

.sangar-slideshow-container div.sangar-timer{
  z-index: 2;
}

.wrapper-menu-map{
  font-size: 0;
}

.wrapper-menu-map_list{
  width: 33%;
  padding-right: 5%;
  margin-bottom: 60px;
  float: left;
  overflow: hidden;
  a.wrapper-menu-map_list-title{
    display: block;
    position: relative;
    .icon-link{
      width: 9px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 0;
      .st0{
        fill: #2b2c2d;
        @include hover-time-all;
      }
    }
    &:hover{
      .st0{
        fill: #fb4614;
      }
    }
  }
  ul{
    width: 100%;
  }
  .wrapper-menu-map_list-title{
    position: relative;
    width: 100%;
    @include fontEtelkaTextPro;
    font-size: 24px;
    color: #2b2c2d;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .wrapper-menu-map_list-link{
    width: 100%;
    margin-bottom: 23px;
    a{
      @include fontEtelkaLightPro;
      font-size: 16px;
      color: #616365;
      @include hover-time;
      &:hover{
        color: #fb4614;
      }
    }
  }
}

.wrapper-map-site{
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 500;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}

.wrapper-map-site-content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0;
  overflow: auto;
}

.map-site-content {
  background-color: white;
  width: 100%;
  min-height: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.modal-open, .overflow-hidden {
  position: fixed;
  height: 100%;
  width: 100%;
}

.hidden{
  display: none;
}

.wrapp_close{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 5;
  .st0{
    fill: black;
    @include hover-time-all;
  }
  &:hover{
    .st0{
      fill: #fb4614;
    }
  }
}

.map-site-content_content{
  width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 80px 120px 65px;
  .block-header-logo_txt{
    display: block;
    float: left;
    border-bottom: 1px solid #d4d6d7;
    padding-bottom: 23px;
    .block-header-logo_logo{
      @include display-inline-middle;
      @include fontEtelkaTextBoldPro;
      color: #002855;
      font-size: 14px;
      text-transform: uppercase;
      border-right: 1px solid #d4d6d7;
      padding-right: 10px;
      margin-right: 10px;
      width: 108px;
    }
    .block-header-logo_dealer{
      @include display-inline-middle;
      .icon-dealer{
        width: 30px;
        height: 30px;
        @include display-inline-middle;
        margin-right: 6px;
        svg{
          width: 100%;
          height: 100%;
        }

      }
      .dealer-txt{
        @include fontEtelkaMediumPro;
        @include display-inline-middle;
        font-size: 9px;
        color: #fb4614;
        text-transform: uppercase;
      }
    }
  }
  .container-map-menu{
    width: 67%;
    margin-left: 33%;
  }
  .wrapper-menu-map{
    width: 100%;
  }

  .wrapper-menu-map_list{
    width: 50%;
    padding-right: 10%;
    margin-bottom: 30px;
    float: left;
    overflow: hidden;
    text-align: left;
    a.wrapper-menu-map_list-title{
      display: block;
      position: relative;
      .icon-link{
        width: 9px;
        height: 16px;
        position: absolute;
        top: 0;
        right: 0;
        .st0{
          fill: #2b2c2d;
          @include hover-time-all;
        }
      }
      &:hover{
        .st0{
          fill: #fb4614;
        }
      }
    }
    ul{
      width: 100%;
    }
    .wrapper-menu-map_list-title{
      position: relative;
      width: 100%;
      @include fontEtelkaTextPro;
      font-size: 24px;
      color: #2b2c2d;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 25px;
      margin-bottom: 30px;
    }
    .wrapper-menu-map_list-link{
      width: 100%;
      margin-bottom: 23px;
      a{
        @include fontEtelkaLightPro;
        font-size: 16px;
        color: #616365;
        @include hover-time;
        &:hover{
          color: #fb4614;
        }
      }
    }
  }
  .container-telefon-menu{
    position: absolute;
    top: 165px;
    left: 120px;
    width: 21%;
    .wrapper-telefon-header{
      width: 100%;
      text-align: left;
      margin-bottom: 40px;
      .wrapper-telefon-header_title{
        @include fontEtelkaLightPro;
        font-size: 16px;
        color: #707a81;
        margin-bottom: 23px;
      }
      .wrapper-telefon-header_link-tel{
        @include fontEtelkaTextPro;
        font-size: 24px;
        color: black;
        display: block;
        margin-bottom: 6px;
        @include hover-time;
        &:hover{
          color: #fb4614;
        }
      }
      .wrapper-telefon-header_link-email{
        @include fontEtelkaLightPro;
        font-size: 16px;
        color: #fb4614;
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
        span{
          display: inline-block;
          &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fb4614;
            transition: all,ease,.3s;
          }
        }
        &:hover{
          span:after{
            width: 0;
          }
        }
      }
    }
    .wrapper-adress{
      @include fontEtelkaLightPro;
      font-size: 16px;
      color: #5b6971;
      margin-top: 50px;
      text-align: left;
    }
  }
  .wrapper-contact_link-soc{
    font-size: 0;
    text-align: left;
    margin-top: 80%;
    .link-soc{
      @include display-inline-top;
      width: 8%;
      margin-right: 5%;
      &:last-child{
        margin-right: 0;
      }
      img{
        width: 100%;
      }
      &:hover{
        img{
          opacity: .7;
        }
      }
    }
  }
}



.stub-wrapper_logo-dealer{
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-bottom: 15px;
}

.container-stub{
  width: 1204px;
  margin: 0 auto;
  padding: 20px 0;
}
.container-stub_wrapper{
  width: 630px;
  margin: 0 auto 80px auto;
}

.stub-wrapper_logo{
  @include display-inline-middle;
  @include fontEtelkaTextPro;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
}

.stub-wrapper_dealer{
  @include display-inline-middle;
  font-size: 0;
  border-left: 1px solid #576f8b;
  padding-left: 23px;
}

.stub-wrapper_dealer{
  .icon-dealer{
    width: 30px;
    height: 30px;
    @include display-inline-middle;
    margin-right: 5px;
  }
}

.stub-wrapper_dealer{
  .txt{
    @include fontEtelkaLightPro;
    @include display-inline-middle;
    font-size: 12px;
    color: #f64224;
    line-height: 1;
  }
}

.stub-logo-comp{
  width: 175px;
  img{
    width: 100%;
  }
  margin-bottom: 86px;
}

.stub-title{
  @include fontEtelkaWideMedium;
  font-size: 32px;
  color: white;
  margin-bottom: 33px;
}

.stub-txt{
  @include fontEtelkaLightPro;
  font-size: 16px;
  color: #d1d3d4;
  line-height: 1.6;
}

.stub-list-browser{
  margin-top: 25px;
  margin-bottom: 75px;
  .stub-list-browser_txt{
    @include fontEtelkaLightPro;
    font-size: 16px;
    color: #d1d3d4;
    line-height: 1.6;
    margin-bottom: 25px;
  }
  ul{
    li{
      @include fontEtelkaLightPro;
      font-size: 16px;
      position: relative;
      padding-left: 30px;
      @include display-inline-top;
      width: 42%;
      margin-bottom: 25px;
      &:before{
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: #fb4614;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 0;
      }
      a{
        @include fontEtelkaLightPro;
        font-size: 16px;
        color: #fb4614;
        text-decoration: underline;
        &:hover{
          color: white;
        }
      }
    }
  }
}

.stub-tel{
  margin-bottom: 28px;
  .stub-tel_t{
    @include fontEtelkaTextPro;
    font-size: 24px;
    color: #feffff;
    margin-bottom: 7px;
  }
  .stub-tel_l{
    @include fontEtelkaLightPro;
    font-size: 12px;
    color: #d1d3d4;
  }
}

.stub-email{
  @include fontEtelkaLightPro;
  font-size: 16px;
  color: #fb4614;
  text-decoration: underline;
  &:hover{
    color: white;
  }
}

.stub-adress{
  @include fontEtelkaLightPro;
  font-size: 18px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.stub-footer{
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #576f8b;
  padding-top: 25px;
  .stub-footer-l{
    float: left;
    @include fontEtelkaLightPro;
    color: #adb6c1;
    font-size: 14px;
  }
  .stub-footer-r{
    float: right;
    text-align: right;
    a{
      @include fontEtelkaLightPro;
      font-size: 14px;
      color: #adb6c1;
      span{
        color: white;
        padding-left: 4px;
      }
      &:hover{
        color: #fb4614;
        span{
          color: #fb4614;
        }
      }
    }
  }
}
.content-404{
  margin-bottom: 100px;
}

.box-modal-ordering-form{
  .h3{
    font-size: 24px;
    color: #2b2c2d;
    margin-bottom: 15px;
    @include fontEtelkaTextPro;
  }

  p{
    font-size: 16px;
    color: #616365;
    line-height: 1.6;
    margin-bottom: 10px;
    @include fontEtelkaLightPro;
  }
}

.block-check-inline{
  .help-block{
    display: none;
  }
}

.modal-container{
  .wrapper-content-right_txt{
    padding: 0;
  }
  .modal-container_txt{
    margin-top: 10px;
    margin-bottom: 30px;
    p{
      font-size: 16px;
      color: #616365;
      line-height: 1.6;
      margin-bottom: 10px;
      @include fontEtelkaLightPro;
    }
  }
}

.tab-content-f.current-f{
  display: inherit;
}

.tab-content-f{
  display: none;
}

.active-point{
  border-bottom: 2px solid #fb4614 !important;
  color: #fb4614 !important;
}

.wrapper-tab#tab-2{
  .wrapper-ordering-advantage{

  }
}


[id^="bx_incl_area"]{
  display: inline !important
}

.container-scroll-top{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 55px;
  display: none;
  z-index: 5;
  &:hover .box-shadow-scroll{
    background-color: #b1b1b1;
    opacity: 0.3;
  }
  &:hover .btn-scroll-top{
    border-color: #F64224;
  }
  .box-shadow-scroll{
    position: absolute;
    width: 55px;
    height: 100%;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
  .btn-scroll-top{
    position: absolute;
    bottom: 20px;
    left: 4px;
    cursor: pointer;
    z-index: 100;
    border: 2px solid #d3e0e9;
    width: 45px;
    height: 45px;
    @include hover-time-all;
   svg{
     width: 9px;
     height: 16px;
     fill: #F64224;
     transform: rotate(-90deg);
     margin-left: 16px;
     margin-top: 10px;
     .st0{
       fill: #F64224;
     }
   }
  }
}

.p-img{
  width: 650px;
  background-color: inherit;
  padding: 0;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  .fancybox-close-small:after{
    background-color: inherit;
    color: black;
    font: 30px/40px Arial,Helvetica Neue,Helvetica,sans-serif;
  }
  .fancybox-close-small{
    right: 30px;
  }
}

.wrapper-slider-preview{
  .wrapper-card-product-info_slider{
    width: 100%;
    margin-bottom: 60px;
    margin-right: 0;
    .gallery-top2{
      width: 100%;
      margin-bottom: 10px;
      .swiper-slide{
        img{
          width: 100%;
        }
      }
    }
    .gallery-thumbs2{
      .swiper-slide-active{
        opacity: 1;
        border: 3px solid #000;
      }
      .swiper-slide{
        width: 10%;
        height: 100%;
        opacity: 1;
        cursor: pointer;
      }
    }
    .swiper-button-prev2{
      background-image: none;
      transform: rotate(180deg);
      width: 9px;
      height: 16px;
      top: auto;
      bottom: 25px;
      left: -27px;
      cursor: pointer;
      position: absolute;
      .st0 {
        fill: #fff;
      }
    }
    .swiper-button-next2{
      background-image: none;
      width: 9px;
      height: 16px;
      top: auto;
      bottom: 25px;
      right: -27px;
      cursor: pointer;
      position: absolute;
      .st0 {
        fill: #fff;
      }
    }
  }
}