@media all and (max-width: 1439px){
  .wrapper-equipment-list{
    width: 1280px;
  }
  .container-wrapper-header-title{
    .block-wrapper-title{
      width: 1280px;
    }
  }
  .block-header, .wrapper-ordering, .footer-wrapper, .wrapper-main, .wrapper-content-slider, .map-site-content_content, .white-img .wrapper-content-slider{
    width: 1280px;
  }
  .wrapper-counter{
    .block-counter{
      height: 234px;
      padding: 70px 20px 0;
    }
  }
  .wrapper-slider-timer-small .sangar-slideshow-container .sangar-pagination-wrapper.wrapper-content-horizontal {
    bottom: 47px;
    left: 38px;
    right: auto;
  }
  .block-wrapper-title_title-bread-crumbs{
    .btn-order{
      right: 14%;
    }
  }
  .wrapp_menu_categories-content{
    .menu-list{
      .menu-list_link{
        width: 180px;
      }
    }
  }

  .white-img{
    .wrapper-content-slider{
      .wrapper-content-slider_text{
        margin-right: 37%;
      }
    }
  }

  .wrapper-content-slider{
    .wrapper-content-slider_text{
      margin-right: 37%;
    }
  }

}

@media all and (max-width: 1281px){
  .wrapper-content-slider{
    h1 {
      color: #fff;
      padding-top: 30vh;
      margin-bottom: 50px;
    }
  }
}

@media all and (max-width: 1279px){
  .wrapper-equipment-list{
    width: 1024px;
    padding: 70px 15px;
  }
  .container-wrapper-header-title{
    .block-wrapper-title{
      width: 1024px;
      padding: 0 15px;
    }
  }
  .wrapper-content-slider{
    width: 1024px;
    padding: 0 15px;
  }
  .block-header{
    width: 1024px;
  }
  .footer-wrapper{
    width: 1024px;
    padding: 90px 15px 50px;
  }
  .block-header-logo{
    margin-left: 15px;
  }
  .block-wrapper-title_title-bread-crumbs{
    left: 15px;
  }
  .wrapper-equipment-list {
    ul{
      .box-equipment-list{
        .box-equipment-list_link{
          padding: 0 20px;
        }
      }
    }
  }
  ul.equipment-list{
    .box-equipment-list{
      .box-equipment-list_link{
        padding: 0 20px;
      }
    }
  }
  .hidden-menu{
    display: none !important;
  }
  .block-header-menu {
    padding-left: 295px;
  }
  .wrapp_menu_categories-content {
    .menu-list {
      padding: 40px 70px 25px 315px;
    }
  }
  .wrapper-card-product{
    width: 1024px;
    padding: 65px 15px;
  }

  .wrapper-tab-table{
    .tabs-menu-table{
      .tab-link{
        padding: 9px 16px;
      }
    }
  }
  .wrapper-ordering{
    width: 1024px;
    padding: 65px 15px;
  }
  .wrapper-ordering-form_form{
    padding: 20px 20px 20px 0;
  }
  .wrapper-main{
    width: 1024px;
    padding: 65px 15px;
  }
  .wrapper-container-slider{
    .swiper-button-prev{
      left: 15px;
    }
    .swiper-button-next{
      left: 80px;
    }
  }
  .wrapper-counter{
    .block-counter{
      height: 224px;
      padding: 62px 20px 0;
    }
  }
  .block-wrapper-title_title-bread-crumbs{
    .btn-order{
      right: 4%;
    }
  }
  .wrapper-menu-map_list{
    width: 40%;
  }
  .container-slider-list{
    .wrapper-content-right_txt-list{
      min-height: 370px;
    }
  }
  .block-outline1{
    .block-circles{
      margin-left: 99px;
      margin-top: 25px;
      .icon-circle:nth-child(2){
        display: none;
      }
      .icon-circle:nth-child(3){
        display: none;
      }
    }
  }
  .block-outline2{
    font-size: 0;
    position: relative;
    width: 290px;
    margin-left: 20px;
    margin-top: 35px;
    .block-circles{
      margin-left: 30px;
      .icon-circle:nth-child(2){
        display: none;
      }
      .icon-circle:nth-child(3){
        display: none;
      }
    }
  }
  .block-outline3{
    width: 185px;
    .block-circles{
      margin-left: 40px;
      .icon-circle:nth-child(2){
        display: none;
      }
      .icon-circle:nth-child(3){
        display: none;
      }
    }
  }
  .wrapper-container-outline_txt{
    margin-left: 20px;
    margin-bottom: 70px;
    margin-right: 20px;
  }
  .container-label-input{
    .block-label-input-25{
      width: 50%;
      margin-bottom: 30px;
    }
    .block-label-input-25:nth-child(1n){
      padding-right: 2%;
    }
    .block-label-input-25:nth-child(2n){
      padding-left: 2%;
      padding-right: 0;
    }
  }
  .wrapper-advantage-btn{
    margin-left: 10%;
  }
  .container-fuel-control{
    .wrapper-final-result{
      margin-left: 10%;
    }
  }
  .block-text-info{
    margin-left: 10%;
  }
  .map-site-content_content{
    width: 1024px;
    padding: 70px 15px;
    .container-telefon-menu{
      left: 15px;
    }
    .wrapper-contact_link-soc{
      .link-soc{
        width: 11%;
      }
    }
  }
  .wripper-video-txt{
    .container-video-txt{
      .block-video{
        iframe{

        }
      }
    }
  }

  .wrapper-tab-table-content{
    table{
      .box-td{
        padding: 14px 40px 14px 0;
      }
    }
  }

  .wrapper-content-slider{
    .wrapper-content-slider_text{
      padding: 0 0px 75px;
    }
  }

  .white-img{
    .wrapper-content-slider{
      .wrapper-content-slider_text{
        padding: 0 65px 85px;
      }
    }
  }
}

@media all and (max-width: 1207px){
  .container-stub{
    width: 650px;
  }
}

@media all and (max-width: 1023px){
  .map-site-content_content{
    width: 100%;
    padding: 70px 15px;
    .container-telefon-menu{
      width: 28%;
    }
    .container-map-menu{
      width: 55%;
      margin-left: 38%;
    }
    .wrapper-menu-map_lis{
      padding-right: 7%;
    }
  }
  .wrapper-equipment-list{
    width: 100%;
    padding: 70px 15px;
  }

  .wrapper-content-slider{
    width: 100%;
    padding: 0 15px;
  }

  .container-main-big .sangar-slideshow-container .sangar-pagination-wrapper.wrapper-content-horizontal{
    bottom: 45px
  }

  .container-wrapper-header-title{
    .block-wrapper-title{
      width: 100%;
      padding: 0 15px;
    }
  }

  .block-header{
    width: 100%;
  }

  .footer-wrapper{
    width: 100%;
    padding: 90px 15px 50px;
  }
  .footer-wrapper-bottom{
    .footer-wrapper_cop{
      margin-right: 5%;
    }
    .footer-wrapper_logo-dealer{
      margin-right: 7%;
    }
  }
  .block-wrapper-title_title-bread-crumbs{
    h1{
      font-size: 40px;
    }
  }
  .wrapper-card-product{
    width: 100%;
  }
  .wrapper-tab-table{
    .tabs-menu-table{
      width: 100%;
      overflow-x: scroll;
      white-space: nowrap;
      margin-left: 0;
      .tab-link{
        padding: 9px 16px;
      }
    }
  }
  .wrapper-card-product_left{
    width: 50%;
    margin: 0 auto;
    position: relative;
    float: none;
    z-index: 5;
    margin-bottom: 40px;
  }
  .wrapper-card-product-info{
    margin-left: 0;
  }
  .wrapper-container_title{
    margin-left: 0;
    padding: 20px 0;
  }
  .wrapper-card-product-100{
    .wrapper-card-product-100_txt{
      margin-left: 0;
      padding-right: 0;
      margin-bottom: 100px;
    }
  }
  .wrapper-card-product-100_priorities{
    position: relative;
    font-size: 0;
    margin-left: 0;
  }
  .table, .table__thead, .table__tbody, .table__tr{
    display: block;
  }
  .table__head {
    display: none;
  }
  .table__td {
    display: flex;
  }
  table.table{
    width: 100%;
    margin-left: 0;
  }
  table.table{
    .table__tbody{
      .table__td{
        width: 100%;
        .table__txt{
          @include display-inline-middle;
        }
        .table__txt-btn{
          padding-top: 0;
          .btn-order{
            display: block;
          }
        }
      }
      .table__td.table__mobile-title{
        width: 100%;
        border-top: none!important;
        padding: 16px 0;
      }
    }
  }
  .table__mobile-caption{
    @include display-inline-middle;
    @include fontEtelkaTextPro;
    font-size: 18px;
    color: #002855;
    text-align: left;
    padding: 0;
    width: 150px;
  }
  .wrapper-content-right{
    margin-left: 0;
  }
  .wrapper-content-right_txt{
    padding-left: 0;
    padding-right: 0;
    .wrapper-card-product-info{
      margin-left: 0;
    }
  }
  .container-slider-swiper{
    .swiper-wrapper{
      .swiper-block-img{
        width: 100%;
      }
      .swiper-block-txt{
        width: 100%;
        padding-left: 0;
        padding-top: 2%;
      }
    }
    .swiper-button-next, .swiper-button-prev{
      bottom: 60px;
    }
  }
  .wripper-video-txt{
    .container-video-txt{
      .block-video{
        width: 100%;
      }
      .block-video-txt{
        width: 100%;
        padding-left: 0;
        padding-top: 2%;
      }
    }
  }
  .wrapper-ordering{
    width: 100%;
  }

  .wrapper-number-puncts{
    position: relative;
    margin-bottom: 35px;
  }

  .wrapper-container-last-news{
    position: relative;
    top: 0;
    width: 100%;
    border: 5px solid #f2f3f7;
    padding: 30px 22px;
  }

  .wrapper-container-slider {
    margin-left: 0;
    width: 100%;
    margin-bottom: 140px;
    position: relative;
    .swiper-button-next{
      left: auto;
      right: 0px;
      bottom: -80px;
    }
    .swiper-button-prev{
      left: auto;
      right: 70px;
      bottom: -80px;
    }
  }
  .wrapper-main{
    width: 100%;
    padding: 65px 15px;
  }
  .container-slider-rigth{
    margin-bottom: 140px;
  }
  .wrapper-counter-text{
    width: 100%;
    display: block;
  }
  .wrapper-counter{
    width: 100%;
    .block-counter{
      width: 240px;
      height: 239px;
      padding: 75px 20px 0;
      margin: 0 auto 40px auto;
    }
  }
  .wrapper-content-text{
    width: 100%;
    padding-left: 0;
  }
  .container-slider-text{
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 50px;
    .slider-text_logo-dealer{
      .slider-text_logo{
        font-size: 21px;
      }
    }
  }
  .block-bg-blue{
    height: 820px;
  }
  .container-slider-small{
    width: 70%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .container-slider-small{
    .swiper-pagination-bullets{
      left: 0;
    }
  }
  .wrapper-number-list{
    .wrapper-container-big-number{
      margin-left: 0;
    }
  }
  .block-wrapper-title_title-bread-crumbs{
    h1 + .btn-order{
      top: -25px;
    }
    .btn-order{
      position: relative;
      right: auto;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
  .wrapper-online_left{
    .wrapper-online_left-img {
      position: absolute;
      width: 100%;
      top: 10%;
    }
  }
  .wrapper-content-right_txt-list{
    width: 100%;
    margin-left: 0;
    .content-list-txt{
      .btn-order{
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 30px;
        display: inline-block;
      }
    }
  }
  .wrapper-menu-map_list{
    width: 50%;
  }
  .container-slider-list{
    .wrapper-content-right_txt-list{
      min-height: 445px;
    }
  }
  .wrapper-container-outline_txt{
    margin-left: 0;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .container-calculator{
    padding: 0;
  }
  .wrapper-advantage-btn{
    margin-left: 0;
  }
  .container-fuel-control{
    .wrapper-final-result{
      margin-left: 0%;
      .wrapper-final-result_box:nth-child(1n){
        width: 50%;
      }
      .wrapper-final-result_box:nth-child(2n){
        width: 50%;
      }
    }
    .btn-book{
      margin-left: 0;
    }
  }
  .block-text-info{
    margin-left: 0;
  }

  .white-img{
    .wrapper-content-slider{
      .wrapper-content-slider_text{
        padding: 0 20px 85px;
      }
    }
  }
}

.container-top-block_icon-mobile{
  display: none;
}

.block-header-logo_txt{
  display: none;
  font-size: 0;
  .block-header-logo_logo{
    @include display-inline-middle;
    @include fontEtelkaTextBoldPro;
    color: #002855;
    font-size: 14px;
    text-transform: uppercase;
    border-right: 1px solid #d4d6d7;
    padding-right: 10px;
    margin-right: 10px;
  }
  .block-header-logo_dealer{
    @include display-inline-middle;
    .icon-dealer{
      width: 30px;
      height: 30px;
      @include display-inline-middle;
      margin-right: 6px;
      svg{
        width: 100%;
        height: 100%;
      }

    }
    .dealer-txt{
      @include fontEtelkaMediumPro;
      @include display-inline-middle;
      font-size: 9px;
      color: #fb4614;
      text-transform: uppercase;
    }
  }
}

@media all and (max-width: 930px){
  .container-top-block_diler{
    display: none;
  }
  .container-top-block_name-comany{
    display: none;
  }
  .container-top-block{
    padding: 10px 0;
  }
  .container-top-block_icon-mobile{
    display: block;
    width: 160px;
    height: 27px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
  }
  .footer-wrapper-bottom{
    .footer-wrapper_logo-dealer{
      margin-right: 4%;
    }
    .footer-wrapper_cop{
      margin-right: 3%;
    }
  }

  .white-img{
    .wrapper-content-slider{
      width: 100%;
      .wrapper-content-slider_text{
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .wrapper-content-slider{
    .wrapper-content-slider_text{
      margin-right: 0;
    }
  }
  .block-header-logo_img{
    display: none !important;
  }
  .block-header-logo_txt{
    display: block !important;
  }
}

@media all and (max-width: 800px){
  .block-header-menu{
    display: none;
  }
  .block-header-logo_txt{
    display: block;
    font-size: 0;
    .block-header-logo_logo{
      @include display-inline-middle;
      @include fontEtelkaTextBoldPro;
      color: #002855;
      font-size: 14px;
      text-transform: uppercase;
      border-right: 1px solid #d4d6d7;
      padding-right: 10px;
      margin-right: 10px;
    }
    .block-header-logo_dealer{
      @include display-inline-middle;
      .icon-dealer{
        width: 30px;
        height: 30px;
        @include display-inline-middle;
        margin-right: 6px;
        svg{
          width: 100%;
          height: 100%;
        }

      }
      .dealer-txt{
        @include fontEtelkaMediumPro;
        @include display-inline-middle;
        font-size: 9px;
        color: #fb4614;
        text-transform: uppercase;
      }
    }
  }
  .block-header-logo{
    .block-header-logo_img{
      display: none;
    }
  }
  .wrapper-equipment-list{
    ul .box-equipment-list{
      width: 100%;
      &:last-child{
        margin-left: 0;
      }
      .box-equipment-list_link{
        height: auto;
      }
    }
  }
  .equipment-list .box-equipment-list{
    width: 100%;
    &:last-child{
      margin-left: 0;
    }
    .box-equipment-list_link{
      height: auto;
    }
  }
  .block-img{
    height: 320px;
  }
  .container-wrapper-header-title{
    .block-wrapper-title{
      height: 320px;
    }
  }
  .block-wrapper-title_title-bread-crumbs{
    h1{
      font-size: 32px;
    }
  }
  .footer-wrapper-bottom{
    .footer-wrapper_cop, .footer-wrapper_logo-dealer, .footer-wrapper_map-site, .footer-wrapper_developer{
      width: 100%;
      margin: 0 0 30px 0;
    }
  }

  .footer-wrapper-menu{
    width: 100%;
    .footer-wrapper-menu_row{
      float: left;
      width: 50%;
      .link_txt{
        display: none;
      }
    }
  }

  .footer-wrapper-contact-info{
    width: 100%;
    padding-bottom: 40px;
    .footer-wrapper-contact_adress{
      margin-bottom: 35px;
    }
  }
  .wrapper-card-product_left{
    width: 100%;
    position: relative;
    float: none;
    z-index: 5;
    margin-bottom: 40px;
  }

  .filter-product{
    .wrapper-card-product-info_slider{
      width: 50%;
      padding-top: 20px;
      margin: 0 auto;
      display: block;
    }
    .wrapper-card-product-info_txt{
      width: 100%;
      padding-left: 0;
    }
  }
  .block-wrapper-title_title-bread-crumbs{
    left: 0;
    padding: 0 15px;
    h1{
      padding-right: 0;
    }
    .bread-crumbs a{
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: top;
    }
  }
  .block-wrapper-title_title-bread-crumbs .bread-crumbs a:first-child:before{
    margin-right: 0;
  }
  .wrapper-solution-link{
    .block-solution-link{
      width: 100%;
      .wrapper-solution-link_txt{
        left: 20px;
      }
    }
    .block-solution-link:nth-child(odd){
      margin-right: 0;
    }
    .block-solution-link:nth-child(2n){
      margin-right: 0;
    }
  }
  .wrapper-card-product-info_slider{
    width: 40%;
    margin: 0 auto 30px auto;
    display: block;
  }
  .wrapper-card-product-info_txt{
    width: 100%;
    padding-left: 0;
  }
  .wrapper-card-product-info{
    .wrapper-tabs{
      padding-left: 0;
    }
  }
  .tabs-menu{
    margin-bottom: 30px;
    .tab-link{
      margin-bottom: 10px;
    }
  }
  .wrapper-ordering-advantage{
    float: none;
    width: 100%;
    padding-top: 0;
    margin-bottom: 30px;
  }
  .wrapper-ordering-form_form{
    margin-left: 0;
    padding: 20px 0;
    .box-input-t{
      .w-80{
        width: 100%;
        margin-right: 0;
      }
      .w-20{
        width: 100%;
      }
    }
    .box-btn-form{
      text-align: right;
    }
  }
  .wrapper-ordering-form{
    .box-check{
      margin-top: 10px;
      margin-bottom: 15px;
      .input-wrapp input.ch[type=checkbox]+label{
        padding-left: 44px;
      }
      .input-wrapp input.ch[type=checkbox]+label a{
        padding-left: 44px;
        display: block;
      }
      .input-wrapp input.ch[type=checkbox]+label:after{
        top: 8px;
      }
    }
  }
  .wrapper-advantage-btn{
    font-size: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .wrapper-slider-timer-small {
    height: auto;
  }
  .w-p{
    width: 90%;
  }
  .wrapper-card-product_left-careers{
    .block-left-careers_avatar{
      width: 35%;
    }
  }
  .map-site-content_content{
    .block-header-logo_txt{
      float: none;
      width: 100%;
      text-align: left;
    }
    .container-telefon-menu{
      top: 0;
      left: 0;
      position: relative;
      width: 100%;
      .wrapper-telefon-header{
        text-align: center;
      }
      .wrapper-adress{
        text-align: center;
      }
      .wrapper-contact_link-soc{
        margin-top: 40px;
        text-align: center;
        .link-soc{
          width: 6%;
        }
      }
    }
    .container-map-menu{
      width: 100%;
      margin-left: 0;
      margin-top: 25px;
    }
    .wrapper-menu-map_list{
      width: 100%;
      padding-right: 0;
      float: none;
      margin-bottom: 10px;
      .wrapper-menu-map_list-link{
        margin-bottom: 19px;
        a{
          font-size: 14px;
        }
      }
      .wrapper-menu-map_list-title{
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
    .block-header-logo_txt{
      .block-header-logo_logo{
        font-size: 13px;
      }
    }
  }
  .form-input.has-error{
    .form-error{
      @include fontEtelkaLightPro;
      font-size: 14px;
      color: #fb4614;
      position: relative;
      top: 0;
      right: auto;
      z-index: 6;
      margin-top: -10px;
      display: block;
      margin-bottom: 15px;
    }
  }
}

@media all and (max-width: 767px){
  .wrapper-news-list_item{
    width: 100%;
    margin-right: 0;
    float: none;
    display: block;
    .swiper-block-content-img{
      .swiper-block-content-block-left{
        .swiper-block-content-img_logo{
          width: 120px;
        }
      }
      .swiper-block-content-block-right{
        width: 120px;
      }
    }
    .swiper-block-content{
      padding: 20px 15px;
    }
  }
  .container-slider-small{
    width: 85%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .wrapper-content-slider{
    h1{
      font-size: 30px;
      padding-top: 180px;
    }
  }
  .container-main-big .sangar-slideshow-container .sangar-pagination-wrapper.wrapper-content-horizontal{
    bottom: 30px
  }
  .block-outline1{
    text-align: center;
    .block-outline-box{
      .icon-outline{
        margin-bottom: 20px;
      }
      .block-outline-txt{
        width: 100%;
      }
    }
    .block-circles{
      margin-left: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      transform: rotate(0);
    }
  }
  .block-outline2{
    font-size: 0;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 35px;
    .block-outline-box{
      width: 100%;
      .icon-outline{
        margin: 0 auto 25px auto;
      }
      .block-outline-txt{
        text-align: center;
      }
    }
    .block-circles{
      width: 100%;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 45px;
      margin-left: auto;
    }
  }
  .block-outline3{
    width: 100%;
    text-align: center;
    .block-outline-box{
      width: 100%;
      .icon-outline{
        margin: 0 auto 30px;
      }
      .block-outline-txt{
        width: 100%;
      }
    }
    .block-circles{
      margin-left: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
    }
  }
  .block-outline4{
    width: 100%;
    text-align: center;
    .block-outline-box{
      width: 100%;
      .icon-outline{
        margin: 12px auto 30px;
      }
    }
  }
  .wrapper-container-outline{
    margin-bottom: 45px;
  }
  .container-calculator {
    h3{
      margin-bottom: 30px;
    }
  }
  .container-calculator-form{
    .block-label-sel-50{
      .box-label{
        margin-bottom: 10px;
      }
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
      &:first-child{
        margin-right: 0;
      }
      &:last-child{
        margin-left: 0;
      }
    }
  }
  .container-label-sel{
    margin-bottom: 40px;
  }
  .container-label-input{
    margin-bottom: 20px;
  }

  .container-label-input{
    .block-label-input-25{
      width: 100%;
      margin-bottom: 20px;
      .box-label{
        margin-bottom: 10px;
      }
      &:nth-child(1n){
        padding-right: 0;
      }
      &:nth-child(2n){
        padding-left: 0;
      }
    }
  }
  .container-fuel-control{
    .wrapper-final-result{
      .wrapper-final-result_box{
        margin-bottom: 25px;
      }
      .wrapper-final-result_box:nth-child(1n){
        width: 100%;
      }
      .wrapper-final-result_box:nth-child(2n){
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 650px){
  .container-telefon{
    width: 100%;
    text-align: center;
    .wrapper-telefon-header{
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .pop-up-call-back{
    margin-top: 20px;
  }
  .wrapper-menu-map_list{
    width: 100%;
  }
  .wrapper-comp-info_list{
    .block-comp-info_list{
      width: 100%;
    }
  }
  .container-stub{
    width: 100%;
    padding: 20px 15px;
  }
  .container-stub_wrapper{
    width: 100%;
  }
  .stub-list-browser{
    ul{
      li{
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 600px){
  .wrapper-container-big-number{
    .container-big-number{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .block-comanda{
    width: 100%;
    padding-right: 0;
  }
  .wrapper-menu-link-news{
    .block-link-news_title{
      display: none;
    }
    .container-menu-link-news{
      .next-news{
        text-align: right;
      }
    }
  }

  .container-slider-small{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .block-bg-blue {
    height: 920px;
  }

  .box-input-t{
    .w-50{
      @include display-inline-top;
      width: 100%;
      &:first-child{
        margin-right: 0;
        margin-left: 0;
      }
      &:last-child{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .wrapper-card-product_left-careers{
    .block-left-careers_avatar{
      width: 50%;
    }
  }

  .wrapper-content-right_txt-list{
    padding: 35px 25px;
    min-height: auto;
    .content-list-txt{
      .content-list-txt_title{
        padding-right: 0;
      }
      .content-list-txt_txt{
        padding-right: 0;
      }
    }
  }
  .container-fuel-control{
    .wrapper-advantage-btn{
      .wrapper-advantage-btn_blue{
        width: 100%;
        margin-bottom: 15px;
      }
      .wrapper-advantage-btn_white{
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 450px){
  .filter-product{
    .wrapper-card-product-info_slider{
      width: 75%;
    }
  }
  .container-top-block_tel{
    padding: 15px 8px;
    span{
      font-size: 14px;
    }
  }
  .wrapper-advantage-btn {
    .wrapper-advantage-btn_blue{
      width: 100%;
      margin-bottom: 20px;
    }
    .wrapper-advantage-btn_white{
      width: 100%
    }
  }
  .container-slider-text{
    .slider-text_logo-dealer{
      .slider-text_logo {
        font-size: 13px;
      }
    }
  }
  .wrapper-card-product_left-careers{
    .block-left-careers_avatar{
      width: 70%;
    }
  }
  .map-site-content_content{
    .container-telefon-menu{
      .wrapper-contact_link-soc{
        .link-soc{
          width: 11%;
        }
      }
    }
  }
}

@media all and (max-width: 350px){
  .wrapper-btn{
    .btn-order{
      margin-right: 10px;
    }
  }
  .btn-order{
    font-size: 14px;
  }
  .btn-book{
    font-size: 14px;
  }
  .container-btn-navigation{
    .btn-prev{
      width: 35px;
      height: 35px;
      a{
        margin: 7px auto;
      }
    }
    .btn-next{
      width: 35px;
      height: 35px;
      a{
        margin: 7px auto;
      }
    }
    .number{
      width: 35px;
      height: 35px;
      a{
        padding-top: 8px;
      }
    }
    .interval{
      width: 35px;
      height: 35px;
      a{
        padding-top: 8px;
      }
    }
  }
  .block-bg-blue {
    height: 1010px;
  }
  .wrapper-card-product_left-careers{
    .block-left-careers_avatar{
      width: 100%;
    }
  }
}