section.container-wrapper-main
    .container-main-big
        .container-slider-timer-big(data-arrayb='["img/slider-pagination/img1.png", "img/slider-pagination/img2.png", "img/slider-pagination/img3.png", "img/slider-pagination/img4.png"]')
            .sangar-content
                img.bg-img(src='img/img-big-slider.jpg' alt='')
                .content-slider-big
                    .wrapper-content-slider
                        .wrapper-content-slider_text
                            .h1 Экономьте до 30% <br> топлива с системами <br> Omnicomm
                            a(href='#').btn-form Датчики уровня топлива

            .sangar-content.white-img
                img.bg-img(src='img/slider-img2.jpg' alt='')
                .content-slider-big
                    .wrapper-content-slider
                        .wrapper-content-slider_text
                            .h1 Экономьте до 30% <br> топлива с системами <br> Omnicomm
                            a(href='#').btn-form Датчики уровня топлива

            .sangar-content
                img.bg-img(src='img/img-big-slider.jpg' alt='')
                .content-slider-big
                    .wrapper-content-slider
                        .wrapper-content-slider_text
                            .h1 Экономьте до 30% <br> топлива с системами <br> Omnicomm
                            a(href='#').btn-form Датчики уровня топлива

            .sangar-content.white-img
                img.bg-img(src='img/slider-img2.jpg' alt='')
                .content-slider-big
                    .wrapper-content-slider
                        .wrapper-content-slider_text
                            .h1 Экономьте до 30% <br> топлива с системами <br> Omnicomm
                            a(href='#').btn-form Датчики уровня топлива

