section.container-wrapper-main
    .block-bg-blue
    .wrapper-main
        .wrapper-number-puncts
            .wrapper-number-puncts_number.white-txt 01
            .wrapper-number-puncts_txt.white-txt Компания
        .wrapper-container_title.white-txt Повышаем рентабельность транспортных предприятий за счет оптимизации финансовых издержек
        .wrapper-slider-text
            .container-slider-text
                .slider-text_logo-dealer
                    .slider-text_logo Omnicomm kazakstan
                    .slider-text_dealer
                        span.icon-dealer
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <style>.st0{fill:#F64224;}</style>
                            <path d="M15 0C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0zm5.5 22.9L15 20l-5.5 2.9 1.1-6.2L6 12.4l6.2-.9L15 5.9l2.8 5.6 6.2.9-4.5 4.4 1 6.1z" class="st0"/>
                            </svg>
                        a(href='#') Золотой <br> дилер
                p Мы первые стали внедрять на территории Казахстана датчики уровня топлива Omnicomm, и были одними из пионеров на зарождающемся рынке систем мониторинга.
                a(href='#') <span> О компании </span>

            .container-slider-small
                .wrapper-slider-small
                    .swiper-wrapper
                        .swiper-slide
                            img(src='img/slider-first.jpg' alt='')
                        .swiper-slide
                            img(src='img/slider-first.jpg' alt='')
                        .swiper-slide
                            img(src='img/slider-first.jpg' alt='')
                    .swiper-pagination

        .wrapper-number-list
            .wrapper-container-big-number
                .container-big-number
                    .container-big-number_number 2864
                    .container-big-number_txt Установленных систем только в Казахстане
                .container-big-number
                    .container-big-number_number 200+
                    .container-big-number_txt Клиентов на постоянной технической поддержке
                .container-big-number
                    .container-big-number_number 24/7
                    .container-big-number_txt Круглосуточная поддержка систем
                .container-big-number
                    .container-big-number_number 15%
                    .container-big-number_txt Среднее снижение пробега за счёт установки систем

        .wrapper-slider-timer-small
            .container-slider-timer-small(data-arrays='["img/slider-pagination/img-small1.png", "img/slider-pagination/img-small2.png", "img/slider-pagination/img-small3.png", "img/slider-pagination/img-small4.png"]')
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg' alt='')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg' alt='')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg' alt='')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg' alt='')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.




