section.container-wrapper-main
    .block-bg-blue
    .wrapper-main
        .wrapper-number-puncts
            .wrapper-number-puncts_number.white-txt 01
            .wrapper-number-puncts_txt.white-txt Компания
        .wrapper-container_title.white-txt Повышаем рентабельность транспортных предприятий за счет оптимизации финансовых издержек
        .wrapper-slider-text
            .container-slider-text
                .slider-text_logo-dealer
                    .slider-text_logo Omnicomm kazakstan
                    .slider-text_dealer
                        span.icon-dealer
                            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                            <style type="text/css">.st0{fill:#F64224;}</style>
                            <g>
                            <path id="svg_1" d="m15,0c-8.3,0 -15,6.7 -15,15s6.7,15 15,15s15,-6.7 15,-15s-6.7,-15 -15,-15zm5.5,22.9l-5.5,-2.9l-5.5,2.9l1.1,-6.2l-4.6,-4.3l6.2,-0.9l2.8,-5.6l2.8,5.6l6.2,0.9l-4.5,4.4l1,6.1z" class="st0"/>
                            </g>
                            </svg>
                        a(href='#') Золотой <br> дилер
                p Мы первые стали внедрять на территории Казахстана датчики уровня топлива Omnicomm, и были одними из пионеров на зарождающемся рынке систем мониторинга.
                a(href='#') <span> О компании </span>

            .container-slider-small
                .wrapper-slider-small
                    .swiper-wrapper
                        .swiper-slide
                            img(src='img/slider-first.jpg')
                        .swiper-slide
                            img(src='img/slider-first.jpg')
                        .swiper-slide
                            img(src='img/slider-first.jpg')
                    .swiper-pagination

        .wrapper-number-list
            .wrapper-container-big-number
                .container-big-number
                    .container-big-number_number 2864
                    .container-big-number_txt Установленных систем только в Казахстане
                .container-big-number
                    .container-big-number_number 200+
                    .container-big-number_txt Клиентов на постоянной технической поддержке
                .container-big-number
                    .container-big-number_number 24/7
                    .container-big-number_txt Круглосуточная поддержка систем
                .container-big-number
                    .container-big-number_number 15%
                    .container-big-number_txt Среднее снижение пробега за счёт установки систем

        .wrapper-slider-timer-small
            .container-slider-timer-small
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.
                .sangar-content
                    img.bg-img(src='img/img-small-slider.jpg')
                    .sangar-content_txt
                        .sangar-content_title
                            span Omnicomm
                            span Топливная экспертиза
                        .sangar-content_text Запатентованный алгоритм Fuelmetrix® гарантирует достоверность данных об уровне топлива, заправках и сливах даже в экстремальных условиях эксплуатации.




