footer.footer
    .footer-wrapper
        .footer-wrapper-row
            .footer-wrapper-menu
                .footer-wrapper-menu_row
                    a(href='#').link_title О компании
                    a(href='#').link_title Omnicomm online
                    a(href='#').link_title Эффективность
                    a(href='#').link_title Купить
                .footer-wrapper-menu_row
                    a(href='#').link_title Оборудование
                    a(href='#').link_txt Датчики уровня топлива LLS
                    a(href='#').link_txt Терминалы Omnicomm
                    a(href='#').link_txt Дополнительное оборудование Omnicomm
                .footer-wrapper-menu_row
                    a(href='#').link_title Отраслевые решения
                    a(href='#').link_txt Спецтехника
                    a(href='#').link_txt Сельхозтехника
                    a(href='#').link_txt Топливозаправщики
                    a(href='#').link_txt Коммерческий транспорт
                    a(href='#').link_txt Грузовой транспорт
                    a(href='#').link_txt Карьерная техника
            .footer-wrapper-contact-info
                .footer-wrapper-contact_title Контактная информация
                a(href='callto:+7721298098').link_tel +7 (7212) 980-980
                a(href='mailto:info@omnicomm.kz').link_email
                    span info@omnicomm.kz
                .footer-wrapper-contact_adress Г. Караганда, пр. Бухар-Жырау, 82
                .footer-wrapper-contact_link-soc
                    a(href='#').link-soc
                        img(src='img/icon-soc/icon-inst.png' alt='')
                    a(href='#').link-soc
                        img(src='img/icon-soc/icon-g-pluspng.png' alt='')
                    a(href='#').link-soc
                        img(src='img/icon-soc/icon-vk.png' alt='')
                    a(href='#').link-soc
                        img(src='img/icon-soc/icon-youtube.png' alt='')
                    a(href='#').link-soc
                        img(src='img/icon-soc/icon-face.png' alt='')
                    a(href='#').link-soc
                        img(src='img/icon-soc/icon-twit.png' alt='')
        .footer-wrapper-row
            .footer-wrapper-bottom
                .footer-wrapper_cop © 2017, Omnicomm
                .footer-wrapper_logo-dealer
                    .footer-wrapper_logo Omnicomm kazakstan
                    .footer-wrapper_dealer
                        span.icon-dealer
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <style>.st0{fill:#F64224;}</style>
                            <path d="M15 0C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0zm5.5 22.9L15 20l-5.5 2.9 1.1-6.2L6 12.4l6.2-.9L15 5.9l2.8 5.6 6.2.9-4.5 4.4 1 6.1z" class="st0"/>
                            </svg>
                        a(href='#') Золотой <br> дилер
                .footer-wrapper_map-site
                    a(href='#')
                        .icon-map-site
                            <svg width="17.5" height="15" xmlns="http://www.w3.org/2000/svg">
                            <g>
                            <path class="st0" d="m17.5,10.9l0,3.1c0,0.3 -0.1,0.5 -0.3,0.7s-0.4,0.3 -0.6,0.3l-3.1,0c-0.3,0 -0.5,-0.1 -0.7,-0.3s-0.3,-0.4 -0.3,-0.7l0,-3.1c0,-0.3 0.1,-0.5 0.3,-0.7s0.4,-0.3 0.7,-0.3l0.9,0l0,-1.8l-5,0l0,1.9l0.9,0c0.3,0 0.5,0.1 0.7,0.3s0.3,0.4 0.3,0.7l0,3.1c0,0.3 -0.1,0.5 -0.3,0.7s-0.4,0.2 -0.7,0.2l-3.1,0c-0.3,0 -0.5,-0.1 -0.7,-0.3s-0.3,-0.4 -0.3,-0.7l0,-3.1c0,-0.3 0.1,-0.5 0.3,-0.7s0.4,-0.2 0.7,-0.2l0.9,0l0,-1.9l-5,0l0,1.9l0.9,0c0.3,0 0.5,0.1 0.7,0.3s0.3,0.4 0.3,0.6l0,3.1c0,0.3 -0.1,0.5 -0.3,0.7s-0.4,0.3 -0.6,0.3l-3.2,0c-0.3,0 -0.5,-0.1 -0.7,-0.3s-0.2,-0.4 -0.2,-0.6l0,-3.1c0,-0.3 0.1,-0.5 0.3,-0.7s0.4,-0.3 0.6,-0.3l0.9,0l0,-1.9c0,-0.3 0.1,-0.6 0.4,-0.9s0.5,-0.4 0.9,-0.4l5,0l0,-1.8l-0.9,0c-0.3,0 -0.5,-0.1 -0.7,-0.3s-0.2,-0.4 -0.2,-0.6l0,-3.2c0,-0.3 0.1,-0.5 0.3,-0.7s0.3,-0.2 0.6,-0.2l3.1,0c0.3,0 0.5,0.1 0.7,0.3s0.3,0.4 0.3,0.7l0,3.1c0,0.3 -0.1,0.5 -0.3,0.7s-0.4,0.2 -0.7,0.2l-0.9,0l0,1.9l5,0c0.3,0 0.6,0.1 0.9,0.4s0.4,0.5 0.4,0.9l0,1.8l0.9,0c0.3,0 0.5,0.1 0.7,0.3s0.2,0.4 0.2,0.6z"/>
                            </g>
                            </svg>
                        .txt Карта сайта
                .footer-wrapper_developer
                    a(href='#') Разработка сайта:
                        span FLEX.MEDIA

