section.container-wrapper-ordering
    .wrapper-ordering
        .wrapper-number-puncts
            .wrapper-number-puncts_number 04
            .wrapper-number-puncts_txt Подключайтесь
        .wrapper-container_title Начните работать эффективно с Omnicomm

        .wrapper-advantage-btn
            .wrapper-advantage-btn_blue
                .icon-priemyschestva
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                    <g>
                    <title>Layer 1</title>
                    <path id="svg_1" d="m15,0c-8.3,0 -15,6.7 -15,15s6.7,15 15,15s15,-6.7 15,-15s-6.7,-15 -15,-15zm-3.6,21.8l-5.8,-5.8l0,0l0.8,-0.8l5,5l11.6,-11.6l0.8,0.8l-12.4,12.4z" class="st0"/>
                    </g>
                    </svg>
                span Хочу перейти на Omnicomm
            .wrapper-advantage-btn_white Новый клиент

        .wrapper-ordering-advantage
            .wrapper-ordering-advantage_title Преимущества
            .wrapper-ordering-advantage_list
                ul
                    li.revealator-slideright Подключение за 1 рабочий день
                    li.revealator-slideright.revealator-delay2 Выезда специалиста “завтра”
                    li.revealator-slideright.revealator-delay4 Компенсируем стоимость перехода
                    li.revealator-slideright.revealator-delay6 Первый месяц бесплатное обслуживание
                    li.revealator-slideright.revealator-delay8 Никаких подводных камней

        .wrapper-ordering-form
            .wrapper-ordering-form_form
                form.js-form
                    .box-input
                        .form-label
                            label.input-label ФИО<span>*</span>
                        .form-input
                            input(data-validation="required" type="txt" data-validation-error-msg="Name is not correct").input-box.input-name

                    .box-input
                        .form-label
                            label.input-label Организация
                        .form-input
                            input(type="txt").input-box.input-name

                    .box-input
                        .form-label
                            label.input-label Телефон<span>*</span>
                        .form-input
                            input(data-validation="required" type="txt" data-validation-error-msg="Name is not correct").input-box.input-name

                    .box-input
                        .form-label
                            label.input-label E-mail<span>*</span>
                        .form-input
                            input(data-validation="email required" type="txt" data-validation-error-msg="Name is not correct").input-box.input-name

                    .box-input
                        .form-label
                            label.input-label Комментарий
                        .form-input
                            textarea(data-validation="required" type="text" data-validation-error-msg="Message is not correct").input-box.textarea-box

                    .box-check
                        .input-wrapp
                            input.ch(type='checkbox' id='m')
                            label(for='m') Даю согласие на обработку моих <a href="#"> <span> персональных данных *</span> </a>

                    .box-btn-form
                        button.btn-form Отправить заявку