.wrapper-map-site.hidden.js-map-site.pad-0
    .wrapper-map-site-content
        .map-site-content
            .wrapp_close.js-search-close-map
                <svg xmlns="http://www.w3.org/2000/svg">
                <g>
                <path d="m11.5,10.1l8.6,-8.6c0.1,-0.1 0.1,-0.3 0,-0.4l-1.1,-1c-0.1,-0.1 -0.3,-0.1 -0.4,0l-8.6,8.6l-8.5,-8.6c-0.1,-0.1 -0.3,-0.1 -0.4,0l-1,1c-0.1,0.1 -0.1,0.3 0,0.4l8.6,8.6l-8.6,8.6c-0.1,0.1 -0.1,0.2 0,0.3l1.1,1.1c0.1,0.1 0.3,0.1 0.4,0l8.6,-8.6l8.6,8.6c0.1,0.1 0.3,0.1 0.4,0l1.1,-1.1c0.1,-0.1 0.1,-0.3 0,-0.4l-8.8,-8.5z" class="st0"/>
                </g>
                </svg>
            .map-site-content_content
                .block-header-logo_txt
                    .block-header-logo_logo Omnicomm kazakstan
                    .block-header-logo_dealer
                        span.icon-dealer
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <style>.st0{fill:#F64224;}</style>
                            <path d="M15 0C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0zm5.5 22.9L15 20l-5.5 2.9 1.1-6.2L6 12.4l6.2-.9L15 5.9l2.8 5.6 6.2.9-4.5 4.4 1 6.1z" class="st0"/>
                            </svg>
                        span.dealer-txt Золотой <br> дилер
                .container-map-menu
                    .wrapper-menu-map
                        .wrapper-menu-map_list
                            .wrapper-menu-map_list-title О компании
                            ul
                                li.wrapper-menu-map_list-link
                                    a(href='#') О компании
                                li.wrapper-menu-map_list-link
                                    a(href='#') Новости
                                li.wrapper-menu-map_list-link
                                    a(href='#') Вакансии

                        .wrapper-menu-map_list
                            a(href='#').wrapper-menu-map_list-title Оборудование
                                .icon-link
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20.5">
                                    <style>.st0{fill:#231F20;}</style>
                                    <path d="M.3 1.6l8.5 8.5L0 18.9l1.6 1.6L12 10.1 1.9 0 .3 1.6z" class="st0"/>
                                    </svg>
                            ul
                                li.wrapper-menu-map_list-link
                                    a(href='#') Датчики уровня топлива
                                li.wrapper-menu-map_list-link
                                    a(href='#') Терминалы Omnicomm
                                li.wrapper-menu-map_list-link
                                    a(href='#') Дополнительное оборудование

                        .wrapper-menu-map_list
                            a(href='#').wrapper-menu-map_list-title Omnicomm online
                                .icon-link
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20.5">
                                    <style>.st0{fill:#231F20;}</style>
                                    <path d="M.3 1.6l8.5 8.5L0 18.9l1.6 1.6L12 10.1 1.9 0 .3 1.6z" class="st0"/>
                                    </svg>

                        .wrapper-menu-map_list
                            a(href='#').wrapper-menu-map_list-title Купить
                                .icon-link
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20.5">
                                    <style>.st0{fill:#231F20;}</style>
                                    <path d="M.3 1.6l8.5 8.5L0 18.9l1.6 1.6L12 10.1 1.9 0 .3 1.6z" class="st0"/>
                                    </svg>

                        .wrapper-menu-map_list
                            .wrapper-menu-map_list-title Эффективность
                            ul
                                li.wrapper-menu-map_list-link
                                    a(href='#') Как это работает
                                li.wrapper-menu-map_list-link
                                    a(href='#') Экспертные советы
                                li.wrapper-menu-map_list-link
                                    a(href='#') Реализованные проекты
                                li.wrapper-menu-map_list-link
                                    a(href='#') Отзывы
                                li.wrapper-menu-map_list-link
                                    a(href='#') Калькулятор окупаемости

                        .wrapper-menu-map_list
                            a(href='#').wrapper-menu-map_list-title Решения
                                .icon-link
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20.5">
                                    <style>.st0{fill:#231F20;}</style>
                                    <path d="M.3 1.6l8.5 8.5L0 18.9l1.6 1.6L12 10.1 1.9 0 .3 1.6z" class="st0"/>
                                    </svg>
                            ul
                                li.wrapper-menu-map_list-link
                                    a(href='#') Спецтехника
                                li.wrapper-menu-map_list-link
                                    a(href='#') Сельхозтехника
                                li.wrapper-menu-map_list-link
                                    a(href='#') Топливозаправщики
                                li.wrapper-menu-map_list-link
                                    a(href='#') Коммерческий транспорт
                                li.wrapper-menu-map_list-link
                                    a(href='#') Грузовой транспорт
                                li.wrapper-menu-map_list-link
                                    a(href='#') Карьерная техника

                .container-telefon-menu
                    .wrapper-telefon-header
                        .wrapper-telefon-header_title Отдел продаж
                        a(href='callto:+77212980980').wrapper-telefon-header_link-tel +7 (7212) 980-980
                        a(href='mailto:info@omnicomm.kz').wrapper-telefon-header_link-email
                            span info@omnicomm.kz

                    .wrapper-telefon-header
                        .wrapper-telefon-header_title Техническая поддержка
                        a(href='callto:+77212980101').wrapper-telefon-header_link-tel +7 (7212) 980-101
                        a(href='mailto:support@omnicomm.kz').wrapper-telefon-header_link-email
                            span ssupport@omnicomm.kz

                    .wrapper-adress Г. Караганда, пр. Бухар-Жырау, 82

                    .wrapper-contact_link-soc
                        a(href='#').link-soc
                            img(src='img/icon-soc/icon-inst-m.png' alt='')
                        a(href='#').link-soc
                            img(src='img/icon-soc/icon-g-pluspng.png' alt='')
                        a(href='#').link-soc
                            img(src='img/icon-soc/icon-vk.png' alt='')
                        a(href='#').link-soc
                            img(src='img/icon-soc/icon-youtube.png' alt='')
                        a(href='#').link-soc
                            img(src='img/icon-soc/icon-face.png' alt='')
                        a(href='#').link-soc
                            img(src='img/icon-soc/icon-twit.png' alt='')
