#pop-up-img.p-img(style='display: none;')
    .modal-container
        .wrapper-slider-preview
            .wrapper-card-product-info_slider
                .swiper-container.gallery-top2
                    .swiper-wrapper
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                .swiper-button-next2
                    <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="null">
                    <g stroke="null">
                    <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                    </g>
                    </g>
                    </g>
                    </svg>
                .swiper-button-prev2
                    <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="null">
                    <g stroke="null">
                    <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                    </g>
                    </g>
                    </g>
                    </svg>
                .swiper-container.gallery-thumbs2
                    .swiper-wrapper
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')
                        .swiper-slide
                            img(src='img/product/img-product2.jpg' alt='')