#hidden-reach.w-p(style='display: none;')
    .modal-container
        .wrapper-container_title Как до нас добраться
        .wrapper-maps
            .container-maps#map
                script(src="js/map.js")
        .wrapper-content-right_txt
            ul
                li Интерфейс взаимодействия с внешними устройствами RS-232 и RS-485
                li Погрешность в диапазоне температур от минус 60 °С до +80°С: не более ±1,0%
                li Взрывобезопасное исполнение. Рекомендовано к использованию на бензовозах и топливозаправщиках, а также в стационарных топливных емкостях
                li Свидетельство о включении в госреестр средств измерения
                li Сертификат взрывобезопасности
                li Сертификат соответствия Техническому Регламенту Таможенного союза
                li Свидетельство о включении в госреестр средств измерения
                li Сертификат взрывобезопасности
                li Сертификат соответствия Техническому Регламенту Таможенного союза
                li Погрешность в диапазоне температур от минус 60 °С до +80°С: не более ±1,0%

