#hidden-question-expert.w-p(style='display: none;')
    .modal-container
        .wrapper-container_title Купить в один клик
        form.js-form
            .wrapper-form
                .box-input
                    .form-label
                        label.input-label ФИО<span>*</span>
                    .form-input
                        input(data-validation="length  required" type="text" data-validation-length='min3' data-validation-error-msg="Поле обязательно для заполнения").input-box
                .box-input
                    .form-label
                        label.input-label Организация<span>*</span>
                    .form-input
                        input(data-validation="length  required" type="text" data-validation-length='min3' data-validation-error-msg="Поле обязательно для заполнения").input-box
                .box-input-t
                    .box-input.w-50
                        .form-label
                            label.input-label Телефон<span>*</span>
                        .form-input
                            input(type="tel" data-validation="custom" data-validation-regexp="^[-0-9()+ ]+$" data-validation-error-msg="Поле обязательно для заполнения").input-box
                    .box-input.w-50
                        .form-label
                            label.input-label E-mail
                        .form-input
                            input.input-box
                .box-input
                    .form-label
                        label.input-label Вопрос<span>*</span>
                    .form-input
                        textarea(data-validation="required" data-validation-error-msg="Поле обязательно для заполнения").input-box.textarea-box

                .box-check
                    .input-wrapp
                        input.ch(type='checkbox' id='m7')
                        label(for='m7') Даю согласие на обработку моих <a href="#"> <span> персональных данных *</span> </a>

                .box-btn-form
                    button.btn-form Отправить

    // Modal Window
    .modal-container(style='display: none;')
        .wrapper-container_title Спасибо за ображение!
        .modal-container_txt
            p Ваше сообщение успешно отправлено. Наш оператор свяжется с вами в ближайшее время.