#hidden-one-click.w-p(style='display: none;')
    .wrapper-container_title Купить в один клик
    form.js-form
        .wrapper-form
            .box-input
                .form-label
                    label.input-label ФИО
                .form-input
                    input.input-box
            .box-input-t
                .box-input.w-50
                    .form-label
                        label.input-label Телефон<span>*</span>
                    .form-input
                        input(type="text").input-box
                .box-input.w-50
                    .form-label
                        label.input-label E-mail
                    .form-input
                        input.input-box
            .box-check
                .input-wrapp
                    input.ch(type='checkbox' id='m6')
                    label(for='m6') Даю согласие на обработку моих <a href="#"> <span> персональных данных *</span> </a>

            .box-btn-form
                button.btn-form Отправить