#hidden-feedback2.w-p(style='display: none;')
    .wrapper-container_title Форма обратной связи
    form.js-form
        .wrapper-form
            .box-input
                .form-label
                    label.input-label ФИО<span>*</span>
                .form-input
                    input(data-validation="required" type="txt" data-validation-error-msg="Name is not correct").input-box
            .box-input
                .form-label
                    label.input-label Организация<span>*</span>
                .form-input
                    input(data-validation="required" type="txt" data-validation-error-msg="Name is not correct").input-box
            .box-input-t
                .box-input.w-50
                    .form-label
                        label.input-label Телефон<span>*</span>
                    .form-input
                        input(type="txt").input-box
                .box-input.w-50
                    .form-label
                        label.input-label E-mail
                    .form-input
                        input.input-box
            .box-input
                .form-label
                    label.input-label Комментарий
                .form-input
                    textarea.input-box.textarea-box

            .box-check
                .input-wrapp
                    input.ch(type='checkbox' id='m')
                    label(for='m') Даю согласие на обработку моих <a href="#"> <span> персональных данных *</span> </a>

            .box-btn-form
                button.btn-form Отправить