#hidden-feedback.w-p(style='display: none;')
    .wrapper-container_title Купить в один клик
    form.js-form
        .wrapper-form
            .box-input
                .form-label
                    label.input-label ФИО<span>*</span>
                .form-input
                    input(data-validation="required" type="text" data-validation-error-msg="Name is not correct").input-box
            .box-input
                .form-label
                    label.input-label Телефон<span>*</span>
                .form-input
                    input(data-validation="required" type="text" data-validation-error-msg="Name is not correct").input-box
            .box-check
                .input-wrapp
                    input.ch(type='checkbox' id='m4')
                    label(for='m4') Даю согласие на обработку моих <a href="#"> <span> персональных данных *</span> </a>

            .box-btn-form
                button.btn-form Заказать