section.container-wrapper-main
    .wrapper-main
        .wrapper-number-puncts
            .wrapper-number-puncts_number 02
            .wrapper-number-puncts_txt Возможности
        .wrapper-container_title Omnicomm экономит ваши средства
        .wrapper-counter-text
            .wrapper-counter
                .block-counter
                    .block-counter_percent 70%
                    .block-counter_txt Ваша эффективность с Omnicomm
            .wrapper-content-text
                .block-content-text_list
                    h3 Снижает пробег техники
                    p За счет полного контроля за передвижением техники, оптимизации маршрутных заданий и исключения махинаций со стороны водителей

                .block-content-text_list
                    h3 Пресекает любые манипуляции с топливом
                    p Система оперативно уведомляет о времени и месте несанкционированного слива топлива. Сверяем объем фактической заправки топлива с топливной ведомостью, что позволяет полностью исключить хищение горючего.

                .block-content-text_list
                    h3 Выявляет простои и нерациональное использование
                    p Готовим подробные отчеты об использовании техники, простоях и расходе топлива на холостом ходу. Благодаря нашим отчетам возможно увеличить эффективность эксплуатации вашей техники.

                .block-content-text_list
                    h3 Снижает расходы на техобслуживание
                    p Реальный, а не накрученный, пробег и время работы техники позволяет объективно оценивать потребность в ее техническом обслуживании

                .block-content-text_list
                    h3 Выявляет отклонения от маршрута
                    p Задаем маршрут и рабочую геозону для транспортных средств. Все несанкционированные остановки и отклонения от маршрута видны на карте. Система уведомит вас о отгрузке вне геозоны, угоне, любом отклонении от маршрута или выходе из геозоны.

                .block-content-text_list
                    h3 Следит за безопасностью техники и грузов
                    p Проводим оценку стиля вождения водителя (фиксируем резкое ускорение и торможение, опасные маневры и т.д.) с целью бережного обращения с транспортным средством и грузом




