section.container-wrapper-main.border-top
    .wrapper-main
        .wrapper-number-puncts
            .wrapper-number-puncts_number 03
            .wrapper-number-puncts_txt многолетний опыт
        .wrapper-container_title Кейсы внедрений и отзывы

        .wrapper-container-slider
            .container-slider-rigth
                .swiper-wrapper
                    a(href='#').swiper-slide
                        .swiper-block-content-img(style='background-image:url("img/slider-r/slider-31.jpg")')
                            .swiper-block-content-block-left
                                .swiper-block-content-img_name Centar Azia Cement
                                .swiper-block-content-img_structure Цементная компания
                            .swiper-block-content-block-right
                                .swiper-block-content-img_rew
                                    img(src='img/slider-r/reviews-1.jpg' alt='')
                        .swiper-block-content-link Кейсы
                        .swiper-block-content
                            .swiper-block-content_number
                                span.number 30%
                                span.txt Экономия<br>топлива
                            .swiper-block-content_txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива Omnicomm LLS 30160 и навигационными терминалами Omnicomm Profi.

                    a(href='#').swiper-slide
                        .swiper-block-content-img(style='background-image:url("img/slider-r/slider-32.jpg")')
                            .swiper-block-content-block-right
                                .swiper-block-content-img_rew
                                    img(src='img/slider-r/reviews-2.jpg' alt='')
                        .swiper-block-content-link Отзывы
                        .swiper-block-content
                            .swiper-block-content_title Наш основной партнер в области мониторинга транспорта
                            .swiper-block-content_txt Крупнейшая арго-промышленная группа компаний Восточного Казахстана внедрила систему Omnicomm на сельскохозяйственную технику ТОО «Защита УБА».


                    a(href='#').swiper-slide
                        .swiper-block-content-img(style='background-image:url("img/slider-r/slider-31.jpg")')
                            .swiper-block-content-block-left
                                .swiper-block-content-img_logo
                                    img(src='img/slider-r/slider-icon-company.png' alt='')
                            .swiper-block-content-block-right
                                .swiper-block-content-img_rew
                                    img(src='img/slider-r/reviews-1.jpg' alt='')
                        .swiper-block-content-link Кейсы
                        .swiper-block-content
                            .swiper-block-content_number
                                span.number 10%
                                span.txt Снижение<br>пробега
                            .swiper-block-content_txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива Omnicomm LLS 30160 и навигационными терминалами Omnicomm Profi.

            .swiper-button-next
            .swiper-button-prev

        .wrapper-container-last-news
            .wrapper-container-last-news_title Последняя новость
            .wrapper-container-last-news_txt Группа компаний АО «Аitas KZ» внедрила систему Omnicomm на сельскохозяйственную технику
            a(href='#').wrapper-container-last-news_link
                span Подробнее
