
<div class="cont-index" style="width: 1000px; margin: 0 auto;">
  <h2>Список страниц</h2>
  <ul>
    <li><a href="index1.html">Главная</a></li>
    <li><a href="equipment.html">Оборудование</a></li>
    <li><a href="сard-product.html">Карточка товара</a></li>
    <li><a href="сard-product-info.html">Карточка товара - описание</a></li>
    <li><a href="industry-solutions.html">Отраслевые решения</a></li>
    <li><a href="industry-solutions-info.html">Отраслевые решения - описание</a></li>
    <li><a href="about.html">О компании</a></li>
    <li><a href="news.html">Новости</a></li>
    <li><a href="news-page.html">Новости - полная</a></li>
    <li><a href="careers.html">Вакансии</a></li>
    <li><a href="omnicom-online.html">Omnicom online</a></li>
    <li><a href="completed-projects.html">Реализованные проекты</a></li>
    <li><a href="expert-advice.html">Экспертные советы</a></li>
    <li><a href="expert-advice-page.html">Экспертные советы - полная</a></li>
    <li><a href="reviews.html">Отзовы</a></li>
    <li><a href="reviews-page.html">Отзовы - полная</a></li>
    <li><a href="map-site.html">Карта сайта</a></li>
    <li><a href="buy.html">Купить</a></li>
    <li><a href="how-works.html">Как это работает</a></li>
    <li><a href="calculator.html">Калькулятор окупаемости</a></li>
    <li><a href="stub.html">Заглушка</a></li>
    <li><a href="404.html">404</a></li>
  </ul>
</div>