extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-com-proj.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Ошибка 404
                        .bread-crumbs
                            a(href='#') Главная
                            span Ошибка 404

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt.content-404
                                    h3 Страница не найдена

                                    p Страницу, которую вы запрашиваете, не существует. Возможно она была удалена, возможно вы набрали неправильный адрес.

                                    p Вы всегда можете вернуться на <a href="#"><span>главную страницу сайта</span></a>


