extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-about.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 О компании
                        .bread-crumbs
                            a(href='#') Главная
                            span О компании

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block О компании
                            .block-product-menu
                                a(href='#').block-product-menu_title Новости
                            .block-product-menu
                                a(href='#').block-product-menu_title Вакансии

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt
                                .wrapper-container_title Мониторинг транспорта контроль расхода топлива
                                .wrapper-container-big-number
                                    .container-big-number
                                        .container-big-number_number 2864
                                        .container-big-number_txt Установленных систем только в Казахстане
                                    .container-big-number
                                        .container-big-number_number 200+
                                        .container-big-number_txt Клиентов на постоянной технической поддержке
                                    .container-big-number
                                        .container-big-number_number 24/7
                                        .container-big-number_txt Круглосуточная поддержка систем
                                    .container-big-number
                                        .container-big-number_number 15%
                                        .container-big-number_txt Среднее снижение пробега за счёт установки систем

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                ul
                                    li Контроль расхода топлива по указанным транспортным средствам
                                    li Отображение оперативной информации о фактах включения «тревожной кнопки»
                                    li Оперативное обеспечение диспетчерского персонала наглядной и достоверной информацией о местоположении и состоянии ТС с периодичностью от 2 минут с использованием системы ГЛОНАСС/GPS
                                    li Свидетельство о включении в госреестр средств измерения
                                    li Единое решение для контроля всех типов техники
                                    li Определение выработки топлива в течение смены

                                .wrapper-container_title Надежность и качество, за которыми возвращаются!

                                p Omnicomm обладает собственным производством в России, занимающим более 5000 кв.м. Надежность и качество нашего оборудования обеспечивается высокой степенью контроля еще на стадии производства. Все готовые изделия проходят полный электронный, функциональный и оптический контроль.

                                p Оборудование Omnicomm соответствует международным стандартам качества, что подтверждает наличие сертификата ISO 9001:2008.

                                .wrapper-slider-txt
                                    .container-slider-swiper
                                        .swiper-wrapper
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper2.jpg' alt='')
                                                .swiper-block-txt Круглосуточная поддержка систем Omnicomm
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                        .swiper-button-next
                                        .swiper-button-prev

                                p  Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

                                .wrapper-container_title Наша команда

                                .wrapper-comanda
                                    .container-comanda
                                        .block-comanda
                                            .block-comanda_avatar
                                                img(src='img/img-avatar.jpg' alt='')
                                            .block-comanda_info
                                                .block-comanda_info-name Евгений Максаев
                                                .block-comanda_info-dev Коммерчесaкий директор
                                                .block-comanda_info-list
                                                    span моб.:
                                                        | +7 495 772-83-92
                                                .block-comanda_info-list
                                                    span доб.:
                                                        | 258
                                                a(href='mailto:maksaev@omnicomm.ru').block-comanda_info-email
                                                    span maksaev@omnicomm.ru

                                        .block-comanda
                                            .block-comanda_avatar
                                                img(src='img/img-avatar.jpg' alt='')
                                            .block-comanda_info
                                                .block-comanda_info-name Сергей Кулаков
                                                .block-comanda_info-dev Начальник отдела продаж
                                                .block-comanda_info-list
                                                    span моб.:
                                                        | +7 926 207-12-42
                                                .block-comanda_info-list
                                                    span доб.:
                                                        | 258
                                                .block-comanda_info-list
                                                    span Skype:
                                                        | kulakov_omnicomm
                                                a(href='mailto:kulakov@omnicomm.ru').block-comanda_info-email
                                                    span kulakov@omnicomm.ru

                                        .block-comanda
                                            .block-comanda_avatar
                                                img(src='img/img-avatar.jpg' alt='')
                                            .block-comanda_info
                                                .block-comanda_info-name Виктор Терёхин
                                                .block-comanda_info-dev Заместитель начальника отдела продаж
                                                .block-comanda_info-list
                                                    span моб.:
                                                        | +7 926 001-98-45
                                                .block-comanda_info-list
                                                    span доб.:
                                                        | 258
                                                .block-comanda_info-list
                                                    span Skype:
                                                        | terehin_viktor
                                                a(href='mailto:terehin@omnicomm.ru').block-comanda_info-email
                                                    span terehin@omnicomm.ru

                                        .block-comanda
                                            .block-comanda_avatar
                                                img(src='img/img-avatar.jpg' alt='')
                                            .block-comanda_info
                                                .block-comanda_info-name Валентина Репина
                                                .block-comanda_info-dev Менеджер отдела продаж
                                                .block-comanda_info-list
                                                    span моб.:
                                                        | +7 926 810-07-89
                                                .block-comanda_info-list
                                                    span доб.:
                                                        | 258
                                                .block-comanda_info-list
                                                    span Skype:
                                                        | repina_valya
                                                a(href='mailto:repina@omnicomm.ru').block-comanda_info-email
                                                    span repina@omnicomm.ru

                                        .block-comanda
                                            .block-comanda_avatar
                                                img(src='img/img-avatar.jpg' alt='')
                                            .block-comanda_info
                                                .block-comanda_info-name Игорь Малышев
                                                .block-comanda_info-dev Менеджер отдела продаж
                                                .block-comanda_info-list
                                                    span моб.:
                                                        | +7 968 474-43-30
                                                .block-comanda_info-list
                                                    span доб.:
                                                        | 258
                                                .block-comanda_info-list
                                                    span Skype:
                                                        | malyshev_rks
                                                a(href='mailto:malyshev@omnicomm.ru').block-comanda_info-email
                                                    span malyshev@omnicomm.ru
