extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-news.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Вакансии
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') О компании
                            span Вакансии

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .block-sticky
                            .wrapper-card-product_left-menu
                                .block-product-menu
                                    a(href='#').block-product-menu_title О компании
                                .block-product-menu
                                    a(href='#').block-product-menu_title Новости
                                .block-product-menu
                                    a(href='#').block-product-menu_title.active-block Вакансии
                            .wrapper-card-product_left-careers
                                .block-left-careers_title Отдел кадров
                                .block-left-careers_avatar
                                    img(src='img/img-avatar.jpg' alt='')
                                .block-left-careers_name Ёлкина Екатерина
                                .block-left-careers_dev Начальник отдела кадров
                                a(href='tel:8 (800) 100-24-42').block-left-careers_tel 8 (800) 100-24-42
                                a(href='mailto:hr@omnicomm.ru').block-left-careers_email
                                    span hr@omnicomm.ru

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt
                                ul.container-accordion
                                    li.js-drop-open.accordion-list
                                        .btn-accordion Менеджер по продажам
                                            span.icon-arrow
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .wrapper-accordion
                                            .wrapper-accordion_txt

                                                p Требуется грамотный инженер-установщик, который готов к постоянным командировкам, аккуратен в исполнении возложенных на него обязательств.

                                                h4 Требования к кандидату:

                                                ul
                                                    li Среднее техническое образование;
                                                    li Знание электрооборудования автомобиля;
                                                    li Уверенный пользователь компьютера (Word, Ехсеl, Интернет, эл.почта)
                                                    li Умение работать электроизмерительными приборами и монтажными инструментами;
                                                    li Опыт работы более 5 лет.

                                                p Приветствуется опыт работы с авто, электро, радио-оборудованием, опыт установки сигнализации. Работа носит разъездной характер, возможны длительные командировки.

                                                .wrapper-employment
                                                    .wrapper-employment_title По вопросам трудоустройства обращаться:
                                                    .wrapper-employment_name Ёлкина Екатерина
                                                    .wrapper-employment_dev Начальник отдела кадров
                                                    .wrapper-employment_tel 8 (800) 100-24-42
                                                    a(href='mailto:terehin@omnicomm.ru').wrapper-employment_email
                                                        span hr@omnicomm.ru

                                    li.js-drop-open.accordion-list
                                        .btn-accordion Инженер-установщик дополнительного оборудования
                                            span.icon-arrow
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .wrapper-accordion
                                            .wrapper-accordion_txt

                                                p Требуется грамотный инженер-установщик, который готов к постоянным командировкам, аккуратен в исполнении возложенных на него обязательств.

                                                h4 Требования к кандидату:

                                                ul
                                                    li Среднее техническое образование;
                                                    li Знание электрооборудования автомобиля;
                                                    li Уверенный пользователь компьютера (Word, Ехсеl, Интернет, эл.почта)
                                                    li Умение работать электроизмерительными приборами и монтажными инструментами;
                                                    li Опыт работы более 5 лет.

                                                p Приветствуется опыт работы с авто, электро, радио-оборудованием, опыт установки сигнализации. Работа носит разъездной характер, возможны длительные командировки.

                                                .wrapper-employment
                                                    .wrapper-employment_title По вопросам трудоустройства обращаться:
                                                    .wrapper-employment_name Ёлкина Екатерина
                                                    .wrapper-employment_dev Начальник отдела кадров
                                                    .wrapper-employment_tel 8 (800) 100-24-42
                                                    a(href='mailto:terehin@omnicomm.ru').wrapper-employment_email
                                                        span hr@omnicomm.ru

                                    li.js-drop-open.accordion-list
                                        .btn-accordion Сервисный инженер
                                            span.icon-arrow
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .wrapper-accordion
                                            .wrapper-accordion_txt

                                                p Требуется грамотный инженер-установщик, который готов к постоянным командировкам, аккуратен в исполнении возложенных на него обязательств.

                                                h4 Требования к кандидату:

                                                ul
                                                    li Среднее техническое образование;
                                                    li Знание электрооборудования автомобиля;
                                                    li Уверенный пользователь компьютера (Word, Ехсеl, Интернет, эл.почта)
                                                    li Умение работать электроизмерительными приборами и монтажными инструментами;
                                                    li Опыт работы более 5 лет.

                                                p Приветствуется опыт работы с авто, электро, радио-оборудованием, опыт установки сигнализации. Работа носит разъездной характер, возможны длительные командировки.

                                                .wrapper-employment
                                                    .wrapper-employment_title По вопросам трудоустройства обращаться:
                                                    .wrapper-employment_name Ёлкина Екатерина
                                                    .wrapper-employment_dev Начальник отдела кадров
                                                    .wrapper-employment_tel 8 (800) 100-24-42
                                                    a(href='mailto:terehin@omnicomm.ru').wrapper-employment_email
                                                        span hr@omnicomm.ru

                                    li.js-drop-open.accordion-list
                                        .btn-accordion Бухгалтер
                                            span.icon-arrow
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .wrapper-accordion
                                            .wrapper-accordion_txt

                                                p Требуется грамотный инженер-установщик, который готов к постоянным командировкам, аккуратен в исполнении возложенных на него обязательств.

                                                h4 Требования к кандидату:

                                                ul
                                                    li Среднее техническое образование;
                                                    li Знание электрооборудования автомобиля;
                                                    li Уверенный пользователь компьютера (Word, Ехсеl, Интернет, эл.почта)
                                                    li Умение работать электроизмерительными приборами и монтажными инструментами;
                                                    li Опыт работы более 5 лет.

                                                p Приветствуется опыт работы с авто, электро, радио-оборудованием, опыт установки сигнализации. Работа носит разъездной характер, возможны длительные командировки.

                                                .wrapper-employment
                                                    .wrapper-employment_title По вопросам трудоустройства обращаться:
                                                    .wrapper-employment_name Ёлкина Екатерина
                                                    .wrapper-employment_dev Начальник отдела кадров
                                                    .wrapper-employment_tel 8 (800) 100-24-42
                                                    a(href='mailto:terehin@omnicomm.ru').wrapper-employment_email
                                                        span hr@omnicomm.ru





