extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-com-proj.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Экспертные советы
                        a(href='javascript:;' data-fancybox data-src='#hidden-question-expert').btn-order Задать вопрос эксперту
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') Эффективность
                            span Экспертные советы

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title Как это работает
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block Экспертные советы
                            .block-product-menu
                                a(href='#').block-product-menu_title Реализованные проекты
                            .block-product-menu
                                a(href='#').block-product-menu_title Отзывы
                            .block-product-menu
                                a(href='#').block-product-menu_title Калькулятор окупаемости

                        .wrapper-online_left
                            .wrapper-online_left-img
                                img(src='img/telefon.png' alt='')
                            .wrapper-online_left-txt Сервис Omnicomm Online, мобильные приложения <a href="#"><span>Google Play</span></a>, <a href="#"><span>AppStore</span></a>
                            a(href="#").link-app
                                img(src="img/link-app.png")
                            a(href="#").link-google
                                img(src="img/link-google.png")



                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-box-link
                                ul
                                    li
                                        a(href='#') Все
                                    li
                                        a.active-link(href='#') Тип оборудования
                                    li
                                        a(href='#') Отрасль
                                    li
                                        a(href='#') Мониторинг транспорта

                            .wrapper-news-list
                                .wrapper-news-list_item
                                    .container-text-news
                                        .btn-news-w Тип оборудования
                                        a(href='#').block-title-news Датчик уровня топлива: как правильно эксплуатировать? Правильное тарирование
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null" id="svg_1">
                                                <g stroke="null" id="svg_2">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-expert
                                            .block-expert_avatar
                                                img(src='img/news/avatar-news1.jpg')
                                            .block-expert_info
                                                .block-expert_info-name Герасименя Виктор
                                                .block-expert_info-dev Эксперт в области мониторинга транспорта
                                                a(href="#").block-expert_info-email
                                                    span hr@omnicomm.ru

                                .wrapper-news-list_item
                                    .container-text-news
                                        .btn-news-w Тип оборудования
                                        a(href='#').block-title-news Как правильно подобрать GPS трекер
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null" id="svg_1">
                                                <g stroke="null" id="svg_2">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-expert
                                            .block-expert_avatar
                                                img(src='img/news/avatar-news2.jpg')
                                            .block-expert_info
                                                .block-expert_info-name Лукша Евгения
                                                .block-expert_info-dev Эксперт в области мониторинга транспорта
                                                a(href="#").block-expert_info-email
                                                    span hr@omnicomm.ru

                                .wrapper-news-list_item
                                    .container-text-news
                                        .btn-news-w Тип оборудования
                                        a(href='#').block-title-news Какие методы контроля топлива существуют
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null" id="svg_1">
                                                <g stroke="null" id="svg_2">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-txt-news Крупнейшая арго-промышленная группа компаний Восточного Казахстана внедрила систему Omnicomm на сельскохозяйственную технику ТОО «Защита УБА».
                                        .block-expert
                                            .block-expert_avatar
                                                img(src='img/news/avatar-news3.jpg')
                                            .block-expert_info
                                                .block-expert_info-name Лихтарович Андрей
                                                .block-expert_info-dev Эксперт механик
                                                a(href="#").block-expert_info-email
                                                    span hr@omnicomm.ru

                                .wrapper-news-list_item
                                    .block-img-news
                                        img(src='img/news/news-img3.jpg')
                                    .container-text-news
                                        .btn-news-w Тип оборудования
                                        a(href='#').block-title-news Какие методы контроля топлива существуют
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null" id="svg_1">
                                                <g stroke="null" id="svg_2">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-expert
                                            .block-expert_avatar
                                                img(src='img/news/avatar-news3.jpg')
                                            .block-expert_info
                                                .block-expert_info-name Лихтарович Андрей
                                                .block-expert_info-dev Эксперт механик
                                                a(href="#").block-expert_info-email
                                                    span hr@omnicomm.ru

                            .container-btn-navigation
                                ul
                                    li.btn-prev.no-active
                                        a(href='#')
                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="null" id="svg_1">
                                            <g stroke="null" id="svg_2">
                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                            </g>
                                            </g>
                                            </g>
                                            </svg>
                                    li.number.active
                                        a(href='#') 1
                                    li.number
                                        a(href='#') 2
                                    li.interval
                                        a(href='#') ...
                                    li.number
                                        a(href='#') 12
                                    li.btn-next
                                        a(href='#')
                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="null" id="svg_1">
                                            <g stroke="null" id="svg_2">
                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                            </g>
                                            </g>
                                            </g>
                                            </svg>


