extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-com-proj.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Экспертные советы
                        a(href='javascript:;' data-fancybox data-src='#hidden-question-expert').btn-order Задать вопрос эксперту
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') Эффективность
                            a(href='#') Экспертные советы
                            span Мониторинг транспорта. Практические советы по внедрению!

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title Как это работает
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block Экспертные советы
                            .block-product-menu
                                a(href='#').block-product-menu_title Реализованные проекты
                            .block-product-menu
                                a(href='#').block-product-menu_title Отзывы
                            .block-product-menu
                                a(href='#').block-product-menu_title Калькулятор окупаемости



                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-box-link.page-txt
                                ul
                                    li
                                        a(href='#') Все
                                    li
                                        a.active-link(href='#') Тип оборудования
                                    li
                                        a(href='#') Отрасль
                                    li
                                        a(href='#') Мониторинг транспорта

                            .wrapper-content-right_txt
                                .wrapper-container_title Мониторинг транспорта <br> Практические советы по внедрению!

                                .wrapper-container-user
                                    .block-expert
                                        .block-expert_avatar
                                            img(src='img/news/avatar-news1.jpg')
                                        .block-expert_info
                                            .block-expert_info-name Герасименя Виктор
                                            .block-expert_info-dev Эксперт в области мониторинга транспорта
                                            .block-expert_info-email
                                                span hr@omnicomm.ru
                                            .block-expert_info-txt Расчет носит приблизительный характер, т.к. на практике экономия средств и окупаемость системы зависят от многих параметров и особенностей эксплуатации транспорта. Данные для расчета основаны на внутренней статистике компании Omnicomm.

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                    ul
                                        li Контроль расхода топлива по указанным транспортным средствам
                                        li Отображение оперативной информации о фактах включения «тревожной кнопки»
                                        li Оперативное обеспечение диспетчерского персонала наглядной и достоверной информацией о местоположении и состоянии ТС с периодичностью от 2 минут с использованием системы ГЛОНАСС/GPS
                                        li Свидетельство о включении в госреестр средств измерения
                                        li Единое решение для контроля всех типов техники
                                        li Определение выработки топлива в течение смены

                                    p Omnicomm обладает собственным производством в России, занимающим более 5000 кв.м. Надежность и качество нашего оборудования обеспечивается высокой степенью контроля еще на стадии производства. Все готовые изделия проходят полный электронный, функциональный и оптический контроль.

                                    p Оборудование Omnicomm соответствует международным стандартам качества, что подтверждает наличие сертификата ISO 9001:2008.

                                    .wrapper-slider-txt
                                        .container-slider-swiper
                                            .swiper-wrapper
                                                .swiper-slide
                                                    .swiper-block-img
                                                        img(src='img/slider/slider-swiper2.jpg' alt='')
                                                    .swiper-block-txt Круглосуточная поддержка систем Omnicomm
                                                .swiper-slide
                                                    .swiper-block-img
                                                        img(src='img/slider/slider-swiper1.jpg' alt='')
                                                    .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                                .swiper-slide
                                                    .swiper-block-img
                                                        img(src='img/slider/slider-swiper1.jpg' alt='')
                                                    .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                            .swiper-button-next
                                            .swiper-button-prev

                                    p Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

                                    h3 Стандартная схема работы

                                    p Omnicomm обладает собственным производством в России, занимающим более 5000 кв.м. Надежность и качество нашего оборудования обеспечивается высокой степенью контроля еще на стадии производства. Все готовые изделия проходят полный электронный, функциональный и оптический контроль.

                                    .container-slider-list
                                        .wrapper-slider-list
                                            .swiper-wrapper
                                                .swiper-slide
                                                    .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-1.jpg')")
                                                        .content-list-txt
                                                            .content-list-txt_number 01
                                                            .content-list-txt_title Следить за работой автопарка и водителей
                                                            .content-list-txt_txt Посменный отчет, включающий время движения ТС и расхорд топлива
                                                .swiper-slide
                                                    .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-2.jpg')")
                                                        .content-list-txt
                                                            .content-list-txt_number 02
                                                            .content-list-txt_title Пресекать нецелевое использование транспорта
                                                            .content-list-txt_txt Выезд из рабочей геозоны (или поездка вне маршрута)
                                                .swiper-slide
                                                    .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-3.jpg')")
                                                        .content-list-txt
                                                            .content-list-txt_number 03
                                                            .content-list-txt_title Повышать безопасность управления
                                                            .content-list-txt_txt График скорости с превышениями порога
                                                .swiper-slide
                                                    .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-4.jpg')")
                                                        .content-list-txt
                                                            .content-list-txt_number 04
                                                            .content-list-txt_title Контролировать расход топлива
                                                            .content-list-txt_txt Список заправок и сливов топлива
                                                .swiper-slide
                                                    .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-5.jpg')")
                                                        .content-list-txt
                                                            .content-list-txt_number 05
                                                            .content-list-txt_title Сравнивать фактические заправки с данными топливной карты
                                                            .content-list-txt_txt Сервис интегрированных отчетов доступен с топливными картами ППР (система PetrolPlus)
                                                            a(href='#').btn-order Заказать карту
                                            .swiper-pagination

                                    p Omnicomm обладает собственным производством в России, занимающим более 5000 кв.м. Надежность и качество нашего оборудования обеспечивается высокой степенью контроля еще на стадии производства. Все готовые изделия проходят полный электронный, функциональный и оптический контроль. Оборудование Omnicomm соответствует международным стандартам качества, что подтверждает наличие сертификата ISO 9001:2008.

                                    .wripper-video-txt
                                        .container-video-txt
                                            .block-video
                                                .block-video_preview(style='background-image:url("img/video/video-img1.jpg")')
                                                <iframe src="https://www.youtube.com/embed/E63PYLS7tnY" frameborder="0" allowfullscreen></iframe>
                                            .block-video-txt Установка датчика уровня топлива Omnicomm LLS

                                    p Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

                                    ol
                                        li Оперативное управление всем автопарком
                                        li Проведение итогов работы предприятия
                                        li Значительное снижение затрат на приобретения топлива
                                        li Планирование всех перевозок

                                    .wrapper-menu-link-news
                                        .container-menu-link-news
                                            a(href='#').block-link-news.prev-news
                                                .block-link-news_a
                                                    .icon-prev
                                                        <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                        <g stroke="null">
                                                        <g stroke="null">
                                                        <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                        </g>
                                                        </g>
                                                        </g>
                                                        </svg>
                                                    | Предыдущая новость
                                                .block-link-news_title Датчик уровня топлива: как правильно эксплуатировать? Правильное тарирование

                                            a(href='#').block-link-news.next-news
                                                .block-link-news_a
                                                    .icon-next
                                                        <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                        <g stroke="null">
                                                        <g stroke="null">
                                                        <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                        </g>
                                                        </g>
                                                        </g>
                                                        </svg>
                                                    | Следующая новость
                                                .block-link-news_title Как правильно подобрать GPS трекер



