extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-com-proj.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Как это работает
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') Эффективность
                            span Как это работает

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block Как это работает
                            .block-product-menu
                                a(href='#').block-product-menu_title Экспертные советы
                            .block-product-menu
                                a(href='#').block-product-menu_title Реализованные проекты
                            .block-product-menu
                                a(href='#').block-product-menu_title Отзывы
                            .block-product-menu
                                a(href='#').block-product-menu_title Калькулятор окупаемости



                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt
                                .wrapper-container_title Стандартная схема работы
                                .wrapper-container-outline
                                    .container-outline

                                        .block-outline1.revealator-fade.revealator-duration10
                                            .block-outline-box
                                                .icon-outline
                                                    <svg width="92" height="92" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                    <path d="m35.9,51.5l15.6,-15.6l-16.3,-16.2c-2.1,-2.1 -4.9,-3.2 -7.8,-3.2c-2.8,0 -5.6,1.1 -7.8,3.2l-0.1,0.1c-2.1,2.1 -3.2,4.9 -3.2,7.8c0,2.8 1.1,5.6 3.2,7.8l16.4,16.1zm-14.8,-30.4l0,0c1.8,-1.8 4.1,-2.7 6.4,-2.7c2.3,0 4.6,0.9 6.3,2.6l14.8,14.8l-12.7,12.8l-14.8,-14.8c-1.8,-1.8 -2.6,-4 -2.6,-6.3c-0.1,-2.3 0.8,-4.6 2.6,-6.4z" class="st0"/>
                                                    <path d="m51.8,29.8c0,0 0,0 0,0c0,0 0,0 0,0l5.5,5.5c0.9,0.9 2,1.3 3.2,1.3c1.1,0 2.3,-0.4 3.2,-1.3l18.4,-18.4c0.9,-0.9 1.3,-2 1.3,-3.2c0,-1.1 -0.4,-2.3 -1.3,-3.2l-9.2,-9.2c-0.9,-0.9 -2.1,-1.3 -3.2,-1.3c-1.1,0 -2.3,0.4 -3.2,1.3l0,0l-3.7,3.7c0,0 0,0 0,0s0,0 0,0l-14.7,14.7c-0.9,0.9 -1.3,2 -1.3,3.2c0,1.1 0.4,2.3 1.3,3.2l3.7,3.7zm10.5,4.1c-0.5,0.5 -1.1,0.7 -1.8,0.7c-0.6,0 -1.3,-0.2 -1.8,-0.7l-4.8,-4.8l15.8,-15.8l6.6,6.6l-14,14zm19.1,-20.2c0,0.6 -0.2,1.3 -0.7,1.8l-3,3l-6.6,-6.6l4.8,-4.8l4.8,4.8c0.4,0.5 0.7,1.2 0.7,1.8zm-13.5,-11c0.5,-0.5 1.1,-0.7 1.8,-0.7c0.6,0 1.3,0.2 1.8,0.7l3,3l-4.8,4.8l-4.8,-4.8l3,-3l-0.7,-0.7l0.7,0.7zm-18.4,18.4l14,-14l4.8,4.8l-15.8,15.8l-3,-3c-0.5,-0.5 -0.7,-1.1 -0.7,-1.8c0,-0.6 0.2,-1.3 0.7,-1.8z" class="st0"/>
                                                    <path d="m26.1,48.1c-0.9,-0.9 -2,-1.3 -3.2,-1.3c-1.1,0 -2.3,0.4 -3.2,1.3l-14.7,14.7c0,0 0,0 0,0s0,0 0,0l-3.7,3.7c-0.9,0.9 -1.3,2 -1.3,3.2c0,1.1 0.4,2.3 1.3,3.2l9.2,9.2c0.9,0.9 2,1.3 3.2,1.3c1.1,0 2.3,-0.4 3.2,-1.3l18.4,-18.4c0.9,-0.9 1.3,-2 1.3,-3.2c0,-1.1 -0.4,-2.3 -1.3,-3.2l-9.2,-9.2zm-5,1.4c0.5,-0.5 1.1,-0.7 1.8,-0.7c0.6,0 1.3,0.2 1.8,0.7l3,3l-15.8,15.8l-4.8,-4.8l14,-14zm-19.1,20.2c0,-0.6 0.2,-1.3 0.7,-1.8l3,-3l4.8,4.8l-4.8,4.8l-3,-3c-0.5,-0.5 -0.7,-1.2 -0.7,-1.8zm13.5,11c-0.5,0.5 -1.1,0.7 -1.8,0.7c-0.6,0 -1.3,-0.2 -1.8,-0.7l-4.8,-4.8l4.8,-4.8l6.6,6.6l-3,3zm18.4,-18.5l-14,14l-6.6,-6.6l15.8,-15.8l4.8,4.8c0.5,0.5 0.7,1.1 0.7,1.8c0,0.7 -0.2,1.4 -0.7,1.8z" class="st0"/>
                                                    <path d="m67.5,68.9c0.4,0.4 1,0.4 1.4,0c0.4,-0.4 0.4,-1 0,-1.4l-12.8,-12.9l7.1,-7.1l-10,-10l-0.7,0.7l-14.9,14.9l10,10l7.1,-7.1l12.8,12.9zm-27.1,-15.8l12.7,-12.7l7.2,7.2l-6.4,6.4c0,0 0,0 0,0s0,0 0,0l-6.4,6.4l-7.1,-7.3z" class="st0"/>
                                                    <path d="m54.6,79.7c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1c6.9,0 13.9,-2.6 19.1,-7.9c5.3,-5.3 7.9,-12.2 7.9,-19.2c0,-0.1 0,-0.2 0,-0.4c0,-0.6 -0.5,-1 -1,-1s-1,0.5 -1,1l0,0c0,0.1 0,0.2 0,0.3c0,6.4 -2.4,12.8 -7.3,17.7c-4.8,5.1 -11.2,7.5 -17.7,7.5z" class="st0"/>
                                                    <path d="m91,53.6c-0.6,0 -1,0.4 -1,1l0,0c0,9.1 -3.5,18.1 -10.4,25c-6.9,6.9 -16,10.4 -25,10.4c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1c9.6,0 19.1,-3.6 26.4,-10.9c7.4,-7.3 11,-16.9 11,-26.5c0,-0.5 -0.4,-1 -1,-1z" class="st0"/>
                                                    </g>
                                                    </g>
                                                    </svg>
                                                .block-outline-txt
                                                    .block-outline-txt_title Глонасс/GPS
                                            .block-circles
                                                .icon-circle
                                                .icon-circle
                                                .icon-circle

                                        .block-outline2.revealator-fade.revealator-duration10.revealator-delay3
                                            .block-outline-box
                                                .icon-outline
                                                    <svg width="185.8" height="89.9" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                    <path d="m61.4,2l74.2,0l0,50.3l-74.2,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l76.2,0l0,-54.3l-76.2,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1z" class="st0"/>
                                                    <path d="m185.7,53.5c0,0 0.1,0 0,0c0.1,0 0,0 0,0l0,-0.2l-0.1,-0.2c0,0 0,0 0,0l-9.4,-21.9c0,0 0,0 0,0l-2.7,-6.3l-28.3,-10.7c-0.4,-0.1 -0.7,-0.2 -1.1,-0.2c-0.8,0 -1.6,0.3 -2.1,0.9c-0.6,0.5 -0.9,1.3 -0.9,2.2l0,48.4l-16.7,0l0,-4.5l4.8,0c0.6,0 1,-0.4 1,-1c0,-0.6 -0.4,-1 -1,-1l-11.6,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l4.8,0l0,4.4l-61,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l9.7,0c-3.3,2.2 -5.5,5.9 -5.5,10.2c0,6.7 5.5,12.2 12.2,12.2c6.4,0 11.7,-4.9 12.2,-11.2l6.4,0c0.5,6.3 5.8,11.2 12.2,11.2c6.4,0 11.7,-4.9 12.2,-11.2l28.1,0c0.5,6.3 5.8,11.2 12.2,11.2c6.4,0 11.7,-4.9 12.2,-11.2l9.5,0c1.7,0 3.1,-1.4 3.1,-3.1l0,-9.2c0,0 0,0 0,0l-0.2,-12.8zm-23.7,-20.9l12.7,0l8.6,19.9l-21.3,0l0,-19.9zm-18.9,-15.5c0,-0.3 0.1,-0.6 0.3,-0.8c0.2,-0.2 0.5,-0.3 0.7,-0.3c0.1,0 0.2,0 0.4,0.1l27.5,10.4l1.8,4.1l-13.8,0l0,34.8l-16.9,0l0,-48.3zm-2,50.3l1,0l12.2,0c-3.1,2 -5.2,5.4 -5.5,9.2l-28.1,0c-0.3,-3.9 -2.4,-7.2 -5.5,-9.2l25.9,0zm-39.2,0c-3.1,2 -5.2,5.4 -5.5,9.2l-6.4,0c-0.3,-3.9 -2.4,-7.2 -5.5,-9.2l17.4,0zm-16.9,17.5c-1.9,1.9 -4.4,3 -7.2,3c-2.8,0 -5.4,-1.1 -7.2,-3c-1.9,-1.9 -3,-4.4 -3,-7.2c0,-2.8 1.1,-5.4 3,-7.2c1.9,-1.9 4.4,-3 7.2,-3c2.8,0 5.4,1.1 7.2,3c1.9,1.9 3,4.4 3,7.2c0,2.8 -1.1,5.3 -3,7.2zm30.8,0c-1.9,1.9 -4.4,3 -7.2,3c-2.8,0 -5.4,-1.1 -7.2,-3c-1.9,-1.9 -3,-4.4 -3,-7.2c0,-2.8 1.1,-5.4 3,-7.2c1.9,-1.9 4.4,-3 7.2,-3c2.8,0 5.4,1.1 7.2,3c1.9,1.9 3,4.4 3,7.2c0,2.8 -1.1,5.3 -3,7.2zm52.4,0c-1.9,1.9 -4.4,3 -7.2,3c-2.8,0 -5.4,-1.1 -7.2,-3c-1.9,-1.9 -3,-4.4 -3,-7.2c0,0 0,0 0,0s0,0 0,0c0,-2.8 1.1,-5.4 3,-7.2c1.9,-1.9 4.4,-3 7.2,-3c2.8,0 5.4,1.1 7.2,3c1.9,1.9 3,4.4 3,7.2c0,2.8 -1.1,5.3 -3,7.2zm14.5,-8.3l-9.5,0c-0.5,-5.9 -5.2,-10.6 -11.2,-11.1l0,-11l21.7,0l0,11.9c0,0 0,0 0,0l0,9.2c0,0.6 -0.4,1 -1,1z" class="st0"/>
                                                    <path d="m91.3,11c0,-0.6 -0.4,-1 -1,-1l-67.8,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l67.8,0c0.5,0 1,-0.4 1,-1z" class="st0"/>
                                                    <path d="m12.5,10l-11.5,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l11.5,0c0.6,0 1,-0.4 1,-1c0,-0.6 -0.4,-1 -1,-1z" class="st0"/>
                                                    <path d="m36.3,52.3l-11.5,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l11.5,0c0.6,0 1,-0.4 1,-1c0,-0.5 -0.5,-1 -1,-1z" class="st0"/>
                                                    <path d="m95.3,20l-67.8,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l67.8,0c0.6,0 1,-0.4 1,-1c0,-0.6 -0.5,-1 -1,-1z" class="st0"/>
                                                    <path d="m91.3,43.3c0,-0.6 -0.4,-1 -1,-1l-47.8,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l47.8,0c0.5,0 1,-0.4 1,-1z" class="st0"/>
                                                    </g>
                                                    </g>
                                                    </svg>
                                                    .img-outline
                                                        img(src='img/img-outline.png' alt='')
                                                .block-outline-txt
                                                    .block-outline-txt_s Датчики/терминалы
                                                    .block-outline-txt_title Omnicomm
                                                    .block-outline-txt_link
                                                        a(href='#')
                                                            span Omnicom LLS,
                                                        a(href='#')
                                                            span Omnicomm Profi Wi-Fi

                                            .block-circles
                                                .icon-circle
                                                .icon-circle
                                                .icon-circle


                                        .block-outline3.revealator-fade.revealator-duration10.revealator-delay6
                                            .block-outline-box
                                                .icon-outline
                                                    <svg width="78" height="139.9" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                    <path d="m44.6,33.2c0,-3.1 -2.5,-5.6 -5.6,-5.6c-3.1,0 -5.6,2.5 -5.6,5.6c0,3.1 2.5,5.6 5.6,5.6c3.1,0 5.6,-2.5 5.6,-5.6zm-9.2,0c0,-1 0.4,-1.9 1.1,-2.5c0.7,-0.7 1.5,-1.1 2.5,-1.1c2,0 3.6,1.6 3.6,3.6c0,2 -1.6,3.6 -3.6,3.6c-1,0 -1.9,-0.4 -2.5,-1.1c-0.7,-0.6 -1.1,-1.5 -1.1,-2.5z" class="st0"/>
                                                    <path d="m77.9,137.4l-23.9,-74.5c10.8,-5.5 18.2,-16.7 18.2,-29.6c0,-18.4 -14.8,-33.3 -33.2,-33.3c-18.3,0 -33.2,14.9 -33.2,33.2c0,13 7.4,24.2 18.2,29.6l-23.9,74.6c-0.1,0.2 -0.1,0.4 -0.1,0.6c0,0.5 0.2,1 0.6,1.4c0.3,0.3 0.8,0.5 1.3,0.5c0.4,0 0.7,-0.1 1.1,-0.3l36,-23.8l36,23.8c0.3,0.2 0.7,0.3 1.1,0.3c0.5,0 1,-0.2 1.3,-0.5c0.3,-0.3 0.6,-0.8 0.6,-1.4c0,-0.2 0,-0.4 -0.1,-0.6zm-38.9,-54.7l23.1,15.3l-23.1,15.4l-23.1,-15.3l23.1,-15.4zm-23.5,13.2l7.6,-23.8l14.1,9.3l-21.7,14.5zm25.3,-14.4l14.1,-9.3l7.6,23.7l-21.7,-14.4zm-23.9,-26.2c-5.7,-5.7 -9.1,-13.5 -9.1,-22.1c0,-8.6 3.5,-16.4 9.1,-22.1c5.7,-5.6 13.5,-9.1 22.1,-9.1c8.6,0 16.4,3.5 22.1,9.1c5.7,5.7 9.1,13.5 9.1,22.1c0,8.6 -3.5,16.4 -9.1,22.1c-2.3,2.3 -4.9,4.2 -7.7,5.6l-2.2,-7c7,-4.1 11.8,-11.8 11.8,-20.7c0,-13.3 -10.8,-24 -24,-24c-13.3,0 -24,10.8 -24,24c0,8.8 4.8,16.6 11.9,20.7l-2.2,7c-2.9,-1.4 -5.5,-3.3 -7.8,-5.6zm13,-13c-2.3,-2.3 -3.8,-5.5 -3.8,-9.1c0,-3.5 1.4,-6.7 3.8,-9.1c2.3,-2.3 5.5,-3.8 9.1,-3.8c3.5,0 6.7,1.4 9.1,3.8c2.3,2.3 3.8,5.5 3.8,9.1c0,3.5 -1.4,6.7 -3.8,9.1c-2.4,2.3 -5.6,3.7 -9.1,3.7c-3.5,0 -6.7,-1.4 -9.1,-3.7zm23.9,-9.1c0,-8.2 -6.6,-14.8 -14.8,-14.8c-8.2,0 -14.8,6.6 -14.8,14.8c0,4.7 2.2,8.9 5.6,11.6l-2.3,7.2c-1.5,-0.9 -2.8,-2 -4.1,-3.2c-4,-4 -6.4,-9.5 -6.4,-15.6c0,-6.1 2.5,-11.6 6.4,-15.6c4,-4 9.5,-6.4 15.6,-6.4c6.1,0 11.6,2.5 15.6,6.4c4,4 6.4,9.5 6.4,15.6c0,6.1 -2.5,11.6 -6.4,15.6c-1.2,1.2 -2.6,2.3 -4.1,3.2l-2.3,-7.2c3.4,-2.7 5.6,-6.9 5.6,-11.6zm-22.3,12.8c2.2,1.3 4.7,2 7.5,2c2.7,0 5.3,-0.8 7.5,-2l2.2,7c-2.9,1.4 -6.2,2.3 -9.7,2.3c-3.5,0 -6.8,-0.8 -9.7,-2.3l2.2,-7zm7.5,11.2c3.7,0 7.2,-0.8 10.3,-2.3l2.2,6.9c-3.8,1.7 -8.1,2.6 -12.6,2.6c-4.5,0 -8.7,-0.9 -12.6,-2.6l2.2,-6.9c3.3,1.5 6.8,2.3 10.5,2.3zm0,9.3c4.7,0 9.1,-1 13.2,-2.7l2.1,6.5l-15.3,10l-15.2,-10.1l2.1,-6.5c4,1.8 8.4,2.8 13.1,2.8zm-36.9,71.3l12.3,-38.3l22.8,15.1l-35.1,23.2zm38.7,-23.2l22.8,-15.1l12.3,38.4l-35.1,-23.3z" class="st0"/>
                                                    <polygon points="0.1,137.4 0.1,137.4 0.1,137.4  " class="st0"/>
                                                    </g>
                                                    </g>
                                                    </svg>
                                                .block-outline-txt
                                                    .block-outline-txt_title GSM/WiFi

                                            .block-circles
                                                .icon-circle
                                                .icon-circle
                                                .icon-circle


                                        .block-outline4.revealator-fade.revealator-duration10.revealator-delay9
                                            .block-outline-box
                                                .icon-outline
                                                    <svg width="124.1" height="98.8" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                    <path d="m82.7,79c-0.5,-0.1 -1.1,0.3 -1.1,0.8l0,0c-1.4,9.6 -9.6,17 -19.6,17c-8.8,0 -16.2,-5.7 -18.8,-13.6l7.8,4.3l1,-1.8l-10.6,-5.7l-5,10.9l1.8,0.8l3.3,-7.2c3.1,8.4 11.1,14.3 20.5,14.3c11,0 20.1,-8.1 21.6,-18.7c0.1,-0.5 -0.3,-1 -0.9,-1.1z" class="st0"/>
                                                    <path d="m82.5,69.5c-3.1,-8.3 -11.1,-14.3 -20.5,-14.3c-11,0 -20.1,8.1 -21.6,18.7c-0.1,0.5 0.3,1.1 0.8,1.1c0.5,0.1 1.1,-0.3 1.1,-0.8l0,0c1.4,-9.6 9.6,-17 19.6,-17c8.8,0 16.2,5.7 18.8,13.6l-7.7,-4.3l-1,1.8l10.6,5.7l5,-10.9l-1.8,-0.8l-3.3,7.2z" class="st0"/>
                                                    <path d="m112.6,34c-0.7,-18.9 -16.2,-34 -35.3,-34c-12.4,0 -23.3,6.4 -29.6,16.1c-2.1,-0.6 -4.3,-0.9 -6.6,-0.9c-10.9,0 -20.2,6.7 -24,16.3c-9.9,3 -17.1,12.1 -17.1,22.9c0,13.2 10.7,23.9 23.9,23.9l4.3,0c0.6,0 1,-0.4 1,-1c0,-0.6 -0.4,-1 -1,-1l-4.3,0c-6,0 -11.5,-2.5 -15.5,-6.4c-4,-4 -6.4,-9.4 -6.4,-15.5c0,-10.1 6.8,-18.6 16.1,-21.1l0.5,-0.1l0.2,-0.5c3.4,-9 12.1,-15.4 22.3,-15.4c2.3,0 4.6,0.3 6.8,1l0.7,0.2l0.4,-0.6c5.8,-9.6 16.3,-15.9 28.3,-15.9c18.2,0 32.9,14.5 33.3,32.6l0,0.6l0.5,0.3c6.6,3.8 11,10.9 11,19c0,6 -2.4,11.5 -6.4,15.5c-4,4 -9.4,6.4 -15.5,6.4l-3.8,0c-0.6,0 -1,0.4 -1,1c0,0.6 0.4,1 1,1l3.8,0c13.2,0 23.9,-10.7 23.9,-23.9c0,-8.7 -4.6,-16.3 -11.5,-20.5z" class="st0"/>
                                                    </g>
                                                    </g>
                                                    </svg>

                                                .block-outline-txt
                                                    .block-outline-txt_s Облачный сервис
                                                    .block-outline-txt_title Omnicomm <br> online

                                    .wrapper-container-outline_txt
                                        h3 Стандартная схема работы
                                        p Установленные на транспортные средства терминалы передают данные в облачный сервис <a href="#"><span>Omnicomm Online</span></a> через интернет с использованием GSM или Wi-Fi сетей. Доступ к Omnicomm Online осуществляется через web-интерфейс с любого устройства. Данная схема применима как для стандартных условий использования мониторинга транспорта, так и для случаев, требующих повышенной безопасности данных.

                                .wrapper-container_title Omnicomm online

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                .container-slider-list
                                    .wrapper-slider-list
                                        .swiper-wrapper
                                            .swiper-slide
                                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-1.jpg')")
                                                    .content-list-txt
                                                        .content-list-txt_number 01
                                                        .content-list-txt_title Следить за работой автопарка и водителей
                                                        .content-list-txt_txt Посменный отчет, включающий время движения ТС и расхорд топлива
                                            .swiper-slide
                                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-2.jpg')")
                                                    .content-list-txt
                                                        .content-list-txt_number 02
                                                        .content-list-txt_title Пресекать нецелевое использование транспорта
                                                        .content-list-txt_txt Выезд из рабочей геозоны (или поездка вне маршрута)
                                            .swiper-slide
                                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-3.jpg')")
                                                    .content-list-txt
                                                        .content-list-txt_number 03
                                                        .content-list-txt_title Повышать безопасность управления
                                                        .content-list-txt_txt График скорости с превышениями порога
                                            .swiper-slide
                                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-4.jpg')")
                                                    .content-list-txt
                                                        .content-list-txt_number 04
                                                        .content-list-txt_title Контролировать расход топлива
                                                        .content-list-txt_txt Список заправок и сливов топлива
                                            .swiper-slide
                                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-5.jpg')")
                                                    .content-list-txt
                                                        .content-list-txt_number 05
                                                        .content-list-txt_title Сравнивать фактические заправки с данными топливной карты
                                                        .content-list-txt_txt Сервис интегрированных отчетов доступен с топливными картами ППР (система PetrolPlus)
                                                        a(href='#').btn-order Заказать карту
                                        .swiper-pagination

                                .wrapper-container-big-number
                                    .container-big-number
                                        .container-big-number_number 2864
                                        .container-big-number_txt Установленных систем только в Казахстане
                                    .container-big-number
                                        .container-big-number_number 200+
                                        .container-big-number_txt Клиентов на постоянной технической поддержке
                                    .container-big-number
                                        .container-big-number_number 24/7
                                        .container-big-number_txt Круглосуточная поддержка систем
                                    .container-big-number
                                        .container-big-number_number 15%
                                        .container-big-number_txt Среднее снижение пробега за счёт установки систем

                                h3 Стандартная схема работы

                                p Omnicomm обладает собственным производством в России, занимающим более 5000 кв.м. Надежность и качество нашего оборудования обеспечивается высокой степенью контроля еще на стадии производства. Все готовые изделия проходят полный электронный, функциональный и оптический контроль.

                                .wrapper-slider-txt
                                    .container-slider-swiper
                                        .swiper-wrapper
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper2.jpg' alt='')
                                                .swiper-block-txt Круглосуточная поддержка систем Omnicomm
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                        .swiper-button-next
                                        .swiper-button-prev

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                ol
                                    li Контроль расхода топлива по указанным транспортным средствам
                                    li Контроль расхода топлива по указанным транспортным средствам
                                    li Оперативное обеспечение диспетчерского персонала наглядной и достоверной информацией о местоположении и состоянии ТС с периодичностью от 2 минут с использованием системы ГЛОНАСС/GPS
                                    li Свидетельство о включении в госреестр средств измерения
                                    li Единое решение для контроля всех типов техники
                                    li Определение выработки топлива в течение смены

                                .wrapper-menu-link-news
                                    .container-menu-link-news
                                        a(href='#').block-link-news.prev-news
                                            .block-link-news_a
                                                .icon-prev
                                                    <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                    <g stroke="null">
                                                    <g stroke="null">
                                                    <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                    </g>
                                                    </g>
                                                    </g>
                                                    </svg>
                                                | Предыдущая новость
                                            .block-link-news_title Датчик уровня топлива: как правильно эксплуатировать? Правильное тарирование

                                        a(href='#').block-link-news.next-news
                                            .block-link-news_a
                                                .icon-next
                                                    <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                    <g stroke="null">
                                                    <g stroke="null">
                                                    <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                    </g>
                                                    </g>
                                                    </g>
                                                    </svg>
                                                | Следующая новость
                                            .block-link-news_title Как правильно подобрать GPS трекер



