extends _layout

block content
    main#barba-wrapper
        section.barba-container
            include includes/_big-slider
            include includes/_first-paragraph
            include includes/_second-paragraph
            include includes/_third-paragraph
            include includes/_form-order-index