block content
    .cont-index(style='width: 1000px; margin: 0 auto;')
        h2 Список страниц
        ul
            li
                a(href='index1.html') Главная
            li
                a(href='equipment.html') Оборудование
            li
                a(href='сard-product.html') Карточка товара
            li
                a(href='сard-product-info.html') Карточка товара - описание
            li
                a(href='industry-solutions.html') Отраслевые решения
            li
                a(href='industry-solutions-info.html') Отраслевые решения - описание
            li
                a(href='about.html') О компании
            li
                a(href='news.html') Новости
            li
                a(href='news-page.html') Новости - полная
            li
                a(href='careers.html') Вакансии
            li
                a(href='omnicom-online.html') Omnicom online
            li
                a(href='completed-projects.html') Реализованные проекты
            li
                a(href='expert-advice.html') Экспертные советы
            li
                a(href='expert-advice-page.html') Экспертные советы - полная
            li
                a(href='reviews.html') Отзовы
            li
                a(href='reviews-page.html') Отзовы - полная
            li
                a(href='map-site.html') Карта сайта
            li
                a(href='buy.html') Купить
            li
                a(href='how-works.html') Как это работает
            li
                a(href='calculator.html') Калькулятор окупаемости
            li
                a(href='stub.html') Заглушка
            li
                a(href='404.html') 404


