extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-solutions.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Отраслевые решения
                        .bread-crumbs
                            a(href='#') Главная
                            span Решения

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .block-sticky
                            .wrapper-card-product_left-menu
                                .block-product-menu
                                    a(href='#').block-product-menu_title.active-block Спецтехника
                                .block-product-menu
                                    a(href='#').block-product-menu_title Сельхозтехника
                                .block-product-menu
                                    a(href='#').block-product-menu_title Топливозаправщики
                                .block-product-menu
                                    a(href='#').block-product-menu_title Коммерческий транспорт
                                .block-product-menu
                                    a(href='#').block-product-menu_title Грузовой транспорт
                                .block-product-menu
                                    a(href='#').block-product-menu_title Карьерная техника

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt
                                .wrapper-container_title Решение для спецтехники эксплуатируемой в тяжёлых условиях
                                .wrapper-container-big-number
                                    .container-big-number
                                        .container-big-number_number 2864
                                        .container-big-number_txt Установленных систем только в Казахстане
                                    .container-big-number
                                        .container-big-number_number 15%
                                        .container-big-number_txt Среднее снижение пробега за счёт установки систем

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                ul
                                    li Контроль расхода топлива по указанным транспортным средствам
                                    li Отображение оперативной информации о фактах включения «тревожной кнопки»
                                    li Оперативное обеспечение диспетчерского персонала наглядной и достоверной информацией о местоположении и состоянии ТС с периодичностью от 2 минут с использованием системы ГЛОНАСС/GPS
                                    li Свидетельство о включении в госреестр средств измерения
                                    li Единое решение для контроля всех типов техники
                                    li Определение выработки топлива в течение смены

                                .wrapper-card-product-info.filter-product
                                    .wrapper-card-product-info_slider
                                        img(src='img/product/img-product1.jpg' alt='')
                                    .wrapper-card-product-info_txt
                                        .wrapper-card-product-info_name-application
                                            a(href='#').wrapper-card-product-info_name-product Omnicomm LLS 30160
                                            .wrapper-card-product-info_application емкостной высокоточный датчик уровня топлива
                                        .wrapper-certificate
                                            .wrapper-certificate_box.icon-ce
                                                img(src='img/certificate/7.svg' alt='')
                                            .wrapper-certificate_box.icon-ex
                                                img(src='img/certificate/2.svg' alt='')
                                            .wrapper-certificate_box.icon-rr
                                                img(src='img/certificate/3.svg' alt='')
                                            .wrapper-certificate_box.icon-eac
                                                img(src='img/certificate/4.svg' alt='')
                                            .wrapper-certificate_box.icon-e26
                                                img(src='img/certificate/6.svg' alt='')
                                            .wrapper-certificate_box.icon-fc
                                                img(src='img/certificate/5.svg' alt='')
                                            .wrapper-certificate_box.icon-st
                                                img(src='img/certificate/1.svg' alt='')

                                        .wrapper-card-product-info_description
                                            p Высокоточный датчик уровня топлива, предназначенные для измерения уровня топлива в топливном баке транспортного

                                        .wrapper-btn
                                            a(href='#').btn-order Подробнее
                                            a(href='#').btn-book Заказть




                                .wrapper-card-product-info.filter-product
                                    .wrapper-card-product-info_slider
                                        img(src='img/product/img-product1.jpg' alt='')
                                    .wrapper-card-product-info_txt
                                        .wrapper-card-product-info_name-application
                                            a(href='#').wrapper-card-product-info_name-product Omnicomm Profi
                                            .wrapper-card-product-info_application Максимальная функциональность
                                        .wrapper-certificate
                                            .wrapper-certificate_box.icon-ce
                                                img(src='img/certificate/7.svg' alt='')
                                            .wrapper-certificate_box.icon-ex
                                                img(src='img/certificate/2.svg' alt='')
                                            .wrapper-certificate_box.icon-rr
                                                img(src='img/certificate/3.svg' alt='')
                                            .wrapper-certificate_box.icon-eac
                                                img(src='img/certificate/4.svg' alt='')
                                            .wrapper-certificate_box.icon-e26
                                                img(src='img/certificate/6.svg' alt='')
                                            .wrapper-certificate_box.icon-fc
                                                img(src='img/certificate/5.svg' alt='')
                                            .wrapper-certificate_box.icon-st
                                                img(src='img/certificate/1.svg' alt='')

                                        .wrapper-card-product-info_description
                                            p Рекомендован для установки на спецтехнику и другой транспорт, эксплуатирующийся в тяжелых условиях и условиях крайнего севера.

                                        .wrapper-btn
                                            a(href='#').btn-order Подробнее
                                            a(href='#').btn-book Заказть

                                h3 Можно решить следующие задачи:

                                ol
                                    li Оперативное управление всем автопарком
                                    li Проведение итогов работы предприятия
                                    li Значительное снижение затрат на приобретения топлива
                                    li Планирование всех перевозок

                                .wrapper-slider-txt
                                    .container-slider-swiper
                                        .swiper-wrapper
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                            .swiper-slide
                                                .swiper-block-img
                                                    img(src='img/slider/slider-swiper1.jpg' alt='')
                                                .swiper-block-txt 1500 единиц наземной спецтехники оснащены датчиками уровня топлива
                                        .swiper-button-next
                                        .swiper-button-prev

                                p  Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

            include includes/_form-order