extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-solutions.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Отраслевые решения
                        .bread-crumbs
                            a(href='#') Главная
                            span Решения

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title Спецтехника
                            .block-product-menu
                                a(href='#').block-product-menu_title Сельхозтехника
                            .block-product-menu
                                a(href='#').block-product-menu_title Топливозаправщики
                            .block-product-menu
                                a(href='#').block-product-menu_title Коммерческий транспорт
                            .block-product-menu
                                a(href='#').block-product-menu_title Грузовой транспорт
                            .block-product-menu
                                a(href='#').block-product-menu_title Карьерная техника

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-solution-link
                                a(href='#').block-solution-link
                                    img(src='img/solutions/img-solutions1.jpg' alt='')
                                    .wrapper-solution-link_txt Спецтехника
                                a(href='#').block-solution-link
                                    img(src='img/solutions/img-solutions2.jpg' alt='')
                                    .wrapper-solution-link_txt Сельхозтехника
                                a(href='#').block-solution-link
                                    img(src='img/solutions/img-solutions3.jpg' alt='')
                                    .wrapper-solution-link_txt Топливозаправщики
                                a(href='#').block-solution-link
                                    img(src='img/solutions/img-solutions4.jpg' alt='')
                                    .wrapper-solution-link_txt Коммерческий <br> транспорт
                                a(href='#').block-solution-link
                                    img(src='img/solutions/img-solutions5.jpg' alt='')
                                    .wrapper-solution-link_txt Грузовой <br> транспорт
                                a(href='#').block-solution-link
                                    img(src='img/solutions/img-solutions6.jpg' alt='')
                                    .wrapper-solution-link_txt Карьерная <br> техника
                            .wrapper-content-right_txt
                                p Применение мониторинга транспорта Omnicomm Online совместно с бортовым терминалом Omnicomm Profi и датчиками уровня топлива позволяет получить полный контроль над топливозаправщиком, контролировать объем выдаваемого им топлива.

