extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-online.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Карта сайта
                        .bread-crumbs
                            a(href='#') Главная
                            span Карта сайта

            section.container-wrapper-card-product
                .wrapper-card-product

                    .wrapper-card-product_left
                        .wrapper-online_left
                            .wrapper-online_left-img
                                img(src='img/telefon.png' alt='')
                            .wrapper-online_left-txt Сервис Omnicomm Online, мобильные приложения <a href="#"><span>Google Play</span></a>, <a href="#"><span>AppStore</span></a>
                            a(href="#").link-app
                                img(src="img/link-app.png")
                            a(href="#").link-google
                                img(src="img/link-google.png")

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-menu-map
                                .wrapper-menu-map_list
                                    .wrapper-menu-map_list-title О компании
                                    ul
                                        li.wrapper-menu-map_list-link
                                            a(href='#') О компании
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Новости
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Вакансии

                                .wrapper-menu-map_list
                                    a(href='#').wrapper-menu-map_list-title Оборудование
                                        .icon-link
                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="null" id="svg_1">
                                            <g stroke="null" id="svg_2">
                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                            </g>
                                            </g>
                                            </g>
                                            </svg>
                                    ul
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Датчики уровня топлива
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Терминалы Omnicomm
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Дополнительное оборудование

                                .wrapper-menu-map_list
                                    a(href='#').wrapper-menu-map_list-title Omnicomm online
                                        .icon-link
                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="null" id="svg_1">
                                            <g stroke="null" id="svg_2">
                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                            </g>
                                            </g>
                                            </g>
                                            </svg>

                                .wrapper-menu-map_list
                                    a(href='#').wrapper-menu-map_list-title Купить
                                        .icon-link
                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="null" id="svg_1">
                                            <g stroke="null" id="svg_2">
                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                            </g>
                                            </g>
                                            </g>
                                            </svg>

                                .wrapper-menu-map_list
                                    .wrapper-menu-map_list-title Эффективность
                                    ul
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Как это работает
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Экспертные советы
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Реализованные проекты
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Отзывы
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Калькулятор окупаемости

                                .wrapper-menu-map_list
                                    a(href='#').wrapper-menu-map_list-title Решения
                                        .icon-link
                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="null" id="svg_1">
                                            <g stroke="null" id="svg_2">
                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 " id="svg_3"/>
                                            </g>
                                            </g>
                                            </g>
                                            </svg>
                                    ul
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Спецтехника
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Сельхозтехника
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Топливозаправщики
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Коммерческий транспорт
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Грузовой транспорт
                                        li.wrapper-menu-map_list-link
                                            a(href='#') Карьерная техника
