extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-news.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 О компании
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') О компании
                            span Новости

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title О компании
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block Новости
                            .block-product-menu
                                a(href='#').block-product-menu_title Вакансии

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-news-list
                                a(href='#').wrapper-news-list_item
                                    .block-img-news
                                        img(src='img/news/news-img1.jpg' alt='')
                                    .container-text-news
                                        .btn-news-o Главное
                                        .block-date-news 12 июня 2017
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-title-news Группа компаний OАО «Аitas KZ» внедрила систему Omnicomm на сельскохозяйственную технику
                                        .block-txt-news Крупнейшая арго-промышленная группа компаний Восточного Казахстана внедрила систему Omnicomm на сельскохозяйственную технику ТОО «Защита УБА».
                                a(href='#').wrapper-news-list_item
                                    .container-text-news
                                        .block-date-news 7 мая 2017
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-title-news АО ИП Эфес Караганда начала сотрудничать с Omnicomm!
                                        .block-txt-news Компания «Эфес Казахстан» внедрила систему Omnicomm у себя на предприятии.
                                a(href='#').wrapper-news-list_item
                                    .container-text-news
                                        .block-date-news 31 января 2017
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-title-news Корпорация «Louis Dreyfus Commodities» стала нашим клиентом!
                                a(href='#').wrapper-news-list_item
                                    .block-img-news
                                        img(src='img/news/news-img2.jpg' alt='')
                                    .container-text-news
                                        .block-date-news 9 декабря 2016
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-title-news Система Omnicomm помогла предотвратить угон самосвала!
                                a(href='#').wrapper-news-list_item
                                    .container-text-news
                                        .block-date-news 31 января 2017
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-title-news Корпорация «Louis Dreyfus Commodities» стала нашим клиентом!
                                a(href='#').wrapper-news-list_item
                                    .block-img-news
                                        img(src='img/news/news-img2.jpg' alt='')
                                    .container-text-news
                                        .block-date-news 9 декабря 2016
                                            .btn-link-news
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                        .block-title-news Система Omnicomm помогла предотвратить угон самосвала!

                            .container-btn-navigation
                                ul
                                    li.btn-prev.no-active
                                        a(href='#')
                                            .icon-btn-prev
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>
                                    li.number.active
                                        a(href='#') 1
                                    li.number
                                        a(href='#') 2
                                    li.interval
                                        a(href='#') ...
                                    li.number
                                        a(href='#') 12
                                    li.btn-next
                                        a(href='#')
                                            .icon-btn-next
                                                <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="null">
                                                <g stroke="null">
                                                <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                </g>
                                                </g>
                                                </g>
                                                </svg>


