extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-online.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Omnicomm online
                        a(href='#').btn-order Демо доступ
                        .bread-crumbs
                            a(href='#') Главная
                            span Omnicomm online

            section.container-wrapper-card-product
                .wrapper-card-product

                    .wrapper-card-product_left
                        .wrapper-online_left
                            .wrapper-online_left-img
                                img(src='img/telefon.png' alt='')
                            .wrapper-online_left-txt Сервис Omnicomm Online, мобильные приложения <a href="#"><span>Google Play</span></a>, <a href="#"><span>AppStore</span></a>
                            a(href="#").link-app
                                img(src="img/link-app.png" alt='')
                            a(href="#").link-google
                                img(src="img/link-google.png" alt='')

                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt
                                .wrapper-container_title Решение мониторинга и контроля транспортных средств в режиме реального времени с использованием ГЛОНАСС/GPS

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-1.jpg')")
                                    .content-list-txt
                                        .content-list-txt_number 01
                                        .content-list-txt_title Следить за работой автопарка и водителей
                                        .content-list-txt_txt Посменный отчет, включающий время движения ТС и расхорд топлива

                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-2.jpg')")
                                    .content-list-txt
                                        .content-list-txt_number 02
                                        .content-list-txt_title Пресекать нецелевое использование транспорта
                                        .content-list-txt_txt Выезд из рабочей геозоны (или поездка вне маршрута)

                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-3.jpg')")
                                    .content-list-txt
                                        .content-list-txt_number 03
                                        .content-list-txt_title Повышать безопасность управления
                                        .content-list-txt_txt График скорости с превышениями порога

                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-4.jpg')")
                                    .content-list-txt
                                        .content-list-txt_number 04
                                        .content-list-txt_title Контролировать расход топлива
                                        .content-list-txt_txt Список заправок и сливов топлива

                                .wrapper-content-right_txt-list(style="background-image:url('img/list-txt-bg/list-txt-5.jpg')")
                                    .content-list-txt
                                        .content-list-txt_number 05
                                        .content-list-txt_title Сравнивать фактические заправки с данными топливной карты
                                        .content-list-txt_txt Сервис интегрированных отчетов доступен с топливными картами ППР (система PetrolPlus)
                                        a(href='#').btn-order Заказать карту

                                p GPS трекеры для машины в составе мониторинга транспорта Omnicomm Online предназначены для сбора информации о состоянии транспортного средства и передачи данных в программу.
                                p Кроме терминалов Omnicomm, поддерживаются терминалы GalileoSky, Форт-Телеком, Teltonika, Ruptela, Baltic Car Equipment, Сантэл-Навигация, SpaceTeam и других производителей.
