extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-com-proj.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Отзывы
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') Эффективность
                            a(href='#') Отзывы
                            span Наш основной партнёр в области мониторинга транспорта

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title Как это работает
                            .block-product-menu
                                a(href='#').block-product-menu_title Экспертные советы
                            .block-product-menu
                                a(href='#').block-product-menu_title Реализованные проекты
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block Отзывы
                            .block-product-menu
                                a(href='#').block-product-menu_title Калькулятор окупаемости

                        .wrapper-online_left
                            .wrapper-online_left-img
                                img(src='img/telefon.png' alt='')
                            .wrapper-online_left-txt Сервис Omnicomm Online, мобильные приложения <a href="#"><span>Google Play</span></a>, <a href="#"><span>AppStore</span></a>
                            a(href="#").link-app
                                img(src="img/link-app.png" alt='')
                            a(href="#").link-google
                                img(src="img/link-google.png" alt='')



                    .wrapper-contant-right
                        .wrapper-content-right
                            .wrapper-content-right_txt
                                .wrapper-container_title Наш основной партнёр в области мониторинга транспорта

                                p На основе данных, собранных терминалами с датчиков уровня топлива, температуры, давления и других, формируются пользовательские отчеты, которые позволяют:

                                .wripper-video-txt
                                    .container-video-txt
                                        .block-video
                                            .block-video_preview(style='background-image:url("img/video/video-img1.jpg")')
                                            <iframe src="https://www.youtube.com/embed/E63PYLS7tnY" frameborder="0" allowfullscreen></iframe>
                                        .block-video-txt
                                            .block-video-txt_name Цижик Виктор
                                            .block-video-txt_dev Генеральный директор
                                            a(href='#').block-video-txt_email
                                                span pecom.ru

                                p Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

                                .wrapper-img-txt
                                    .container-img-txt
                                        .block-img
                                            img(src='img/img-sertification.jpg' alt='')
                                        .block-img-txt
                                            .block-img-txt_name Цижик Виктор
                                            .block-img-txt_dev Генеральный директор
                                            a(href='#').block-img-txt_email
                                                span pecom.ru

                                p Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов. Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

                                p Компания «Омникомм-Центр» занимает лидирующие позиции на рынке систем мониторинга транспорта. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов. У нас вы можете купить тахограф с установкой, а также произвести поверку и техническое обслуживание тахографов.

                                .wrapper-reviews-p
                                    .wrapper-reviews-p_name Цижик Виктор
                                    .wrapper-reviews-p_dev Генеральный директор
                                    a(href='#').wrapper-reviews-p_email
                                        span pecom.ru
