extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-сard-product-info.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Датчики уровня топлива Omnicomm LLS
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') Оборудование
                            a(href='#') Датчики уровня топлива
                            span Omnicomm LLS 20230

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .block-sticky
                            .wrapper-card-product_left-menu
                                .block-product-menu
                                    a(href='#').block-product-menu_title.active-block Датчики уровня топлива
                                    .block-product-menu_list
                                        ul
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS 30160
                                            li
                                                a(href='#').block-product-menu_link.active-link Omnicomm LLS 20230
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS-AF 20310

                                .block-product-menu
                                    a(href='#').block-product-menu_title Терминалы
                                    .block-product-menu_list(style="display:none")
                                        ul
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS 30160
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS 20230
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS-AF 20310

                                .block-product-menu
                                    a(href='#').block-product-menu_title Дополнительное оборудование
                                    .block-product-menu_list(style="display:none")
                                        ul
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS 30160
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS 20230
                                            li
                                                a(href='#').block-product-menu_link Omnicomm LLS-AF 20310

                    .wrapper-contant-right
                        .wrapper-card-product-info
                            .wrapper-card-product-info_slider
                                //img(src='img/img-slider.png')
                                .swiper-container.gallery-top
                                    .swiper-wrapper
                                        a(href='img/product/img-product2.jpg' data-fancybox="images").swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                        a(href='img/product/img-product2.jpg' data-fancybox="images").swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                        a(href='img/product/img-product2.jpg' data-fancybox="images").swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                        a(href='img/product/img-product2.jpg' data-fancybox="images").swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                .swiper-button-next
                                    <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <g stroke="null">
                                    <g stroke="null">
                                    <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                    </g>
                                    </g>
                                    </g>
                                    </svg>
                                .swiper-button-prev
                                    <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <g stroke="null">
                                    <g stroke="null">
                                    <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                    </g>
                                    </g>
                                    </g>
                                    </svg>
                                .swiper-container.gallery-thumbs
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                        .swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                        .swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                                        .swiper-slide
                                            img(src='img/product/img-product2.jpg' alt='')
                            .wrapper-card-product-info_txt
                                .wrapper-card-product-info_name-application
                                    a(href='#').wrapper-card-product-info_name-product Omnicomm LLS 20230
                                    .wrapper-card-product-info_application емкостной высокоточный датчик уровня топлива
                                .wrapper-certificate
                                    .wrapper-certificate_box.icon-ce
                                        img(src='img/certificate/7.svg' alt='')
                                    .wrapper-certificate_box.icon-ex
                                        img(src='img/certificate/2.svg' alt='')
                                    .wrapper-certificate_box.icon-rr
                                        img(src='img/certificate/3.svg' alt='')
                                    .wrapper-certificate_box.icon-eac
                                        img(src='img/certificate/4.svg' alt='')
                                    .wrapper-certificate_box.icon-e26
                                        img(src='img/certificate/6.svg' alt='')
                                    .wrapper-certificate_box.icon-fc
                                        img(src='img/certificate/5.svg' alt='')
                                    .wrapper-certificate_box.icon-st
                                        img(src='img/certificate/1.svg' alt='')

                                .wrapper-card-product-info_description
                                    p Omnicomm LLS 20230 предназначен для контроля топлива на транспортных средствах и объектах с повышенными требованиями к взрывобезопасности.
                                    p Датчик внесен в государственный реестр официальных средств измерения РФ и одобрен Российским Речным Регистром.

                                .wrapper-btn
                                    a(href='#containerForm' data-order={"name": "Omnicomm LLS 20230", "id": 124}).btn-order.js-order-click Заказать
                                    a(href='javascript:;' data-fancybox data-src='#hidden-one-click').btn-one-click Купить в 1 клик

                            .wrapper-tabs
                                ul.tabs-menu
                                    li.tab-link.current-s(data-tabs="tabs-1") Особенности
                                    li.tab-link(data-tabs="tabs-2") Описание
                                    li.tab-link(data-tabs="tabs-3") Технические характеристики
                                    li.tab-link(data-tabs="tabs-4") Сертификаты
                                #tabs-1.tab-content-s.current-s
                                    .wrapper-tab-content
                                        ul
                                            li Интерфейс взаимодействия с внешними устройствами RS-232 и RS-485
                                            li Погрешность в диапазоне температур от минус 60 °С до +80°С: не более ±1,0%
                                            li Взрывобезопасное исполнение. Рекомендовано к использованию на бензовозах и топливозаправщиках, а также в стационарных топливных емкостях
                                            li Свидетельство о включении в госреестр средств измерения
                                            li Сертификат взрывобезопасности
                                            li Сертификат соответствия Техническому Регламенту Таможенного союза
                                            li Свидетельство о включении в госреестр средств измерения
                                            li Сертификат взрывобезопасности
                                            li Сертификат соответствия Техническому Регламенту Таможенного союза
                                            li Погрешность в диапазоне температур от минус 60 °С до +80°С: не более ±1,0%

                                #tabs-2.tab-content-s
                                    .wrapper-tab-content
                                        .wrapper-tab-content_description
                                            ul.container-accordion
                                                li.js-drop-open.accordion-list
                                                    .btn-accordion Назначение
                                                        span.icon-arrow
                                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                            <g stroke="null">
                                                            <g stroke="null">
                                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                            </g>
                                                            </g>
                                                            </g>
                                                            </svg>
                                                    .wrapper-accordion
                                                        .wrapper-accordion_txt
                                                            p Датчик Omnicomm LLS 30160 может использоваться для таких видов топлива, как различные бензины, летнее и зимнее дизельное топливо и  другие жидкие нефтепродукты, которые сохраняют свое агрегатное состояние в  рабочем диапазоне температур.
                                                            p Датчик Omnicomm LLS 30160 устанавливается на транспортных средствах, дизельгенераторах и стационарных емкостях, к которым не предъявляются требования взрывозащиты оборудования. Датчик Omnicomm LLS 30160 применяется как с мониторингом транспорта Omnicomm Online, так и в системах других производителей.
                                                li.js-drop-open.accordion-list
                                                    .btn-accordion Области применения
                                                        span.icon-arrow
                                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                            <g stroke="null">
                                                            <g stroke="null">
                                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                            </g>
                                                            </g>
                                                            </g>
                                                            </svg>
                                                    .wrapper-accordion
                                                        .wrapper-accordion_txt
                                                            p Датчик Omnicomm LLS 30160 может использоваться для таких видов топлива, как различные бензины, летнее и зимнее дизельное топливо и  другие жидкие нефтепродукты, которые сохраняют свое агрегатное состояние в  рабочем диапазоне температур.
                                                            p Датчик Omnicomm LLS 30160 устанавливается на транспортных средствах, дизельгенераторах и стационарных емкостях, к которым не предъявляются требования взрывозащиты оборудования. Датчик Omnicomm LLS 30160 применяется как с мониторингом транспорта Omnicomm Online, так и в системах других производителей.
                                                li.js-drop-open.accordion-list
                                                    .btn-accordion Конструктивное исполнение
                                                        span.icon-arrow
                                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                            <g stroke="null">
                                                            <g stroke="null">
                                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                            </g>
                                                            </g>
                                                            </g>
                                                            </svg>
                                                    .wrapper-accordion
                                                        .wrapper-accordion_txt
                                                            p Датчик Omnicomm LLS 30160 может использоваться для таких видов топлива, как различные бензины, летнее и зимнее дизельное топливо и  другие жидкие нефтепродукты, которые сохраняют свое агрегатное состояние в  рабочем диапазоне температур.
                                                            p Датчик Omnicomm LLS 30160 устанавливается на транспортных средствах, дизельгенераторах и стационарных емкостях, к которым не предъявляются требования взрывозащиты оборудования. Датчик Omnicomm LLS 30160 применяется как с мониторингом транспорта Omnicomm Online, так и в системах других производителей.
                                                li.js-drop-open.accordion-list
                                                    .btn-accordion Возможности подключения
                                                        span.icon-arrow
                                                            <svg width="9" height="16" xmlns="http://www.w3.org/2000/svg">
                                                            <g stroke="null">
                                                            <g stroke="null">
                                                            <polygon stroke="null" class="st0" points="0.22357527309955216,1.240086555480957 6.558207892465759,7.828046798706055 0,14.64852237701416 1.1924014269173355,15.888608932495117 8.943010568618774,7.828046798706055 1.4159767444373017,0 0.22357527309955216,1.240086555480957 "/>
                                                            </g>
                                                            </g>
                                                            </g>
                                                            </svg>
                                                    .wrapper-accordion
                                                        .wrapper-accordion_txt
                                                            p Датчик Omnicomm LLS 30160 может использоваться для таких видов топлива, как различные бензины, летнее и зимнее дизельное топливо и  другие жидкие нефтепродукты, которые сохраняют свое агрегатное состояние в  рабочем диапазоне температур.
                                                            p Датчик Omnicomm LLS 30160 устанавливается на транспортных средствах, дизельгенераторах и стационарных емкостях, к которым не предъявляются требования взрывозащиты оборудования. Датчик Omnicomm LLS 30160 применяется как с мониторингом транспорта Omnicomm Online, так и в системах других производителей.

                                #tabs-3.tab-content-s
                                    .wrapper-tab-content
                                        .wrapper-tab-table
                                            ul.tabs-menu-table
                                                li.tab-link.current-s(data-tabs="tabs-table-1") Связь
                                                li.tab-link(data-tabs="tabs-table-2") Источник питания
                                                li.tab-link(data-tabs="tabs-table-3") Передача данных
                                                li.tab-link(data-tabs="tabs-table-4") Вход/выход
                                                li.tab-link(data-tabs="tabs-table-5") Интерфесы
                                                li.tab-link(data-tabs="tabs-table-6") Конструктив
                                            #tabs-table-1.tab-table-content-s.current-s
                                                .wrapper-tab-table-content
                                                    table
                                                        tr
                                                            td.box-td Напряжение питания, В
                                                            td.box-th 7 - 75
                                                        tr
                                                            td.box-td Гальваническая развязка, В
                                                            td.box-th встроенная, 1500 В
                                                        tr
                                                            td.box-td Потребляемая мощность, Вт
                                                            td.box-th не более 0,4
                                                        tr
                                                            td.box-td Интерфейс взаимодействия с внешним устройством
                                                            td.box-th RS-232 и RS-485
                                                        tr
                                                            td.box-td Диапазон измерения уровня
                                                            td.box-th аналоговый выход: 0 - 20 В; частотный выход: 30 - 2000 Гц
                                                        tr
                                                            td.box-td Основная приведенная погрешность, %
                                                            td.box-th не более ±1
                                            #tabs-table-2.tab-table-content-s
                                                .wrapper-tab-table-content
                                                    table
                                                        tr
                                                            td.box-td Напряжение питания, В
                                                            td.box-th 7 - 75
                                                        tr
                                                            td.box-td Гальваническая развязка, В
                                                            td.box-th встроенная, 1500 В
                                                        tr
                                                            td.box-td Потребляемая мощность, Вт
                                                            td.box-th не более 0,4
                                                        tr
                                                            td.box-td Интерфейс взаимодействия с внешним устройством
                                                            td.box-th RS-232 и RS-485
                                            #tabs-table-3.tab-table-content-s
                                                .wrapper-tab-table-content
                                                    table
                                                        tr
                                                            td.box-td Напряжение питания, В
                                                            td.box-th 7 - 75
                                                        tr
                                                            td.box-td Гальваническая развязка, В
                                                            td.box-th встроенная, 1500 В
                                                        tr
                                                            td.box-td Потребляемая мощность, Вт
                                                            td.box-th не более 0,4
                                            #tabs-table-4.tab-table-content-s
                                                .wrapper-tab-table-content
                                                    table
                                                        tr
                                                            td.box-td Напряжение питания, В
                                                            td.box-th 7 - 75
                                                        tr
                                                            td.box-td Гальваническая развязка, В
                                                            td.box-th встроенная, 1500 В
                                                        tr
                                                            td.box-td Потребляемая мощность, Вт
                                                            td.box-th не более 0,4
                                                        tr
                                                            td.box-td Интерфейс взаимодействия с внешним устройством
                                                            td.box-th RS-232 и RS-485
                                                        tr
                                                            td.box-td Диапазон измерения уровня
                                                            td.box-th аналоговый выход: 0 - 20 В; частотный выход: 30 - 2000 Гц
                                                        tr
                                                            td.box-td Основная приведенная погрешность, %
                                                            td.box-th не более ±1
                                            #tabs-table-5.tab-table-content-s
                                                .wrapper-tab-table-content
                                                    table
                                                        tr
                                                            td.box-td Напряжение питания, В
                                                            td.box-th 7 - 75
                                                        tr
                                                            td.box-td Гальваническая развязка, В
                                                            td.box-th встроенная, 1500 В
                                                        tr
                                                            td.box-td Потребляемая мощность, Вт
                                                            td.box-th не более 0,4
                                                        tr
                                                            td.box-td Интерфейс взаимодействия с внешним устройством
                                                            td.box-th RS-232 и RS-485
                                            #tabs-table-6.tab-table-content-s
                                                .wrapper-tab-table-content
                                                    table
                                                        tr
                                                            td.box-td Напряжение питания, В
                                                            td.box-th 7 - 75
                                                        tr
                                                            td.box-td Гальваническая развязка, В
                                                            td.box-th встроенная, 1500 В
                                                        tr
                                                            td.box-td Потребляемая мощность, Вт
                                                            td.box-th не более 0,4




                                #tabs-4.tab-content-s
                                    .wrapper-tab-content
                                        .wrapper-tab-content-certificate
                                            a(href='img/img-sertification.jpg' data-fancybox).wrapper-tab-content-certificate_img
                                                img(src='img/img-sertification.jpg' alt='')
                                            .wrapper-tab-content-certificate_icon-txt
                                                .wrapper-tab-content-certificate_icon.icon-ce
                                                    img(src='img/certificate/7.svg' alt='')
                                                .wrapper-tab-content-certificate_txt Свидетельство о включениив госреестр средств измерения
                                        .wrapper-tab-content-certificate
                                            a(href='img/img-sertification.jpg' data-fancybox).wrapper-tab-content-certificate_img
                                                img(src='img/img-sertification.jpg' alt='')
                                            .wrapper-tab-content-certificate_icon-txt
                                                .wrapper-tab-content-certificate_icon.icon-ce
                                                    img(src='img/certificate/2.svg' alt='')
                                                .wrapper-tab-content-certificate_txt Сертификат соответствия техническому регламентуо безопасности колёсных транспортных средств
                                        .wrapper-tab-content-certificate
                                            a(href='img/img-sertification.jpg' data-fancybox).wrapper-tab-content-certificate_img
                                                img(src='img/img-sertification.jpg' alt='')
                                            .wrapper-tab-content-certificate_icon-txt
                                                .wrapper-tab-content-certificate_icon.icon-ce
                                                    img(src='img/certificate/3.svg' alt='')
                                                .wrapper-tab-content-certificate_txt Свидетельство о включениив госреестр средств измерения
                                        .wrapper-tab-content-certificate
                                            a(href='img/img-sertification.jpg' data-fancybox).wrapper-tab-content-certificate_img
                                                img(src='img/img-sertification.jpg' alt='')
                                            .wrapper-tab-content-certificate_icon-txt
                                                .wrapper-tab-content-certificate_icon.icon-ce
                                                    img(src='img/certificate/4.svg' alt='')
                                                .wrapper-tab-content-certificate_txt Сертификат соответствия техническому регламентуо безопасности колёсных транспортных средств

            include includes/_form-order