extends _layout

block content
    main#barba-wrapper
        section.barba-container
            section.container-wrapper-header-title
                //.block-img(data-parallax="scroll" data-image-src="img/bg/bg-equipment.png")
                .block-img(style="background-image:url('img/bg/bg-сard-product-info.jpg')")
                .block-wrapper-title
                    .block-wrapper-title_title-bread-crumbs
                        h1 Датчики уровня топлива Omnicomm LLS
                        .bread-crumbs
                            a(href='#') Главная
                            a(href='#') Оборудование
                            a(href='#') Датчики уровня топлива
                            span Omnicomm LLS 20230

            section.container-wrapper-card-product
                .wrapper-card-product
                    .wrapper-card-product_left
                        .wrapper-card-product_left-menu
                            .block-product-menu
                                a(href='#').block-product-menu_title.active-block Датчики уровня топлива
                                .block-product-menu_list
                                    ul
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS 30160
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS 20230
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS-AF 20310

                            .block-product-menu
                                a(href='#').block-product-menu_title Терминалы
                                .block-product-menu_list(style="display:none")
                                    ul
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS 30160
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS 20230
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS-AF 20310

                            .block-product-menu
                                a(href='#').block-product-menu_title Дополнительное оборудование
                                .block-product-menu_list(style="display:none")
                                    ul
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS 30160
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS 20230
                                        li
                                            a(href='#').block-product-menu_link Omnicomm LLS-AF 20310

                    .wrapper-contant-right
                        .wrapper-card-product-info.filter-product
                            .wrapper-card-product-info_slider
                                img(src='img/product/img-product1.jpg' alt='')
                            .wrapper-card-product-info_txt
                                .wrapper-card-product-info_name-application
                                    a(href='#').wrapper-card-product-info_name-product Omnicomm LLS 30160
                                    .wrapper-card-product-info_application емкостной высокоточный датчик уровня топлива
                                .wrapper-certificate
                                    .wrapper-certificate_box.icon-ce
                                        img(src='img/certificate/7.svg' alt='')
                                    .wrapper-certificate_box.icon-ex
                                        img(src='img/certificate/2.svg' alt='')
                                    .wrapper-certificate_box.icon-rr
                                        img(src='img/certificate/3.svg' alt='')
                                    .wrapper-certificate_box.icon-eac
                                        img(src='img/certificate/4.svg' alt='')
                                    .wrapper-certificate_box.icon-e26
                                        img(src='img/certificate/6.svg' alt='')
                                    .wrapper-certificate_box.icon-fc
                                        img(src='img/certificate/5.svg' alt='')
                                    .wrapper-certificate_box.icon-st
                                        img(src='img/certificate/1.svg' alt='')

                                .wrapper-card-product-info_description
                                    p Высокоточный датчик уровня топлива, предназначенные для измерения уровня топлива в топливном баке транспортного

                                .wrapper-btn
                                    a(href='#').btn-order Подробнее
                                    a(href='#containerForm' data-order={"name": "Omnicomm LLS 30160", "id": 123}).btn-book.js-order-click Заказть

                        .wrapper-card-product-info.filter-product
                            .wrapper-card-product-info_slider
                                img(src='img/product/img-product2.jpg' alt='')
                            .wrapper-card-product-info_txt
                                .wrapper-card-product-info_name-application
                                    a(href='#').wrapper-card-product-info_name-product Omnicomm LLS 20230
                                    .wrapper-card-product-info_application емкостной высокоточный датчик уровня топлива
                                .wrapper-certificate
                                    .wrapper-certificate_box.icon-ce
                                        img(src='img/certificate/7.svg' alt='')
                                    .wrapper-certificate_box.icon-ex
                                        img(src='img/certificate/2.svg' alt='')
                                    .wrapper-certificate_box.icon-rr
                                        img(src='img/certificate/3.svg' alt='')
                                    .wrapper-certificate_box.icon-eac
                                        img(src='img/certificate/4.svg' alt='')
                                    .wrapper-certificate_box.icon-e26
                                        img(src='img/certificate/6.svg' alt='')
                                    .wrapper-certificate_box.icon-fc
                                        img(src='img/certificate/5.svg' alt='')
                                    .wrapper-certificate_box.icon-st
                                        img(src='img/certificate/1.svg' alt='')

                                .wrapper-card-product-info_description
                                    p предназначен для контроля топлива на транспортных средствах и объектах с повышенными требованиями к взрывобезопасности.

                                .wrapper-btn
                                    a(href='#').btn-order Подробнее
                                    a(href='#containerForm' data-order={"name": "Omnicomm LLS 20230", "id": 124}).btn-book.js-order-click Заказть

                        .wrapper-card-product-info.filter-product
                            .wrapper-card-product-info_slider
                                img(src='img/product/img-product3.jpg' alt='')
                            .wrapper-card-product-info_txt
                                .wrapper-card-product-info_name-application
                                    a(href='#').wrapper-card-product-info_name-product Omnicomm LLS-AF 20310
                                    .wrapper-card-product-info_application емкостной высокоточный датчик уровня топлива
                                .wrapper-certificate
                                    .wrapper-certificate_box.icon-ce
                                        img(src='img/certificate/7.svg' alt='')
                                    .wrapper-certificate_box.icon-ex
                                        img(src='img/certificate/2.svg' alt='')
                                    .wrapper-certificate_box.icon-rr
                                        img(src='img/certificate/3.svg' alt='')
                                    .wrapper-certificate_box.icon-eac
                                        img(src='img/certificate/4.svg' alt='')
                                    .wrapper-certificate_box.icon-e26
                                        img(src='img/certificate/6.svg' alt='')
                                    .wrapper-certificate_box.icon-fc
                                        img(src='img/certificate/5.svg' alt='')
                                    .wrapper-certificate_box.icon-st
                                        img(src='img/certificate/1.svg' alt='')

                                .wrapper-card-product-info_description
                                    p Высокоточный датчик уровня топлива, предназначенные для измерения уровня топлива в топливном баке транспортного

                                .wrapper-btn
                                    a(href='#').btn-order Подробнее
                                    a(href='#containerForm' data-order={"name": "Omnicomm LLS-AF 20310", "id": 125}).btn-book.js-order-click Заказть
                        .wrapper-card-product-100
                            .wrapper-container_title Сводная таблица характеристик датчиков уровня топлива
                            .wrapper-tab-content
                                .wrapper-tab-table
                                    ul.tabs-menu-table
                                        li.tab-link.current-s(data-tabs="tabs-table-1") Связь
                                        li.tab-link(data-tabs="tabs-table-2") Источник питания
                                        li.tab-link(data-tabs="tabs-table-3") Передача данных
                                        li.tab-link(data-tabs="tabs-table-4") Вход/выход
                                        li.tab-link(data-tabs="tabs-table-5") Интерфесы
                                        li.tab-link(data-tabs="tabs-table-6") Конструктив
                                    #tabs-table-1.tab-table-content-s.current-s
                                        .wrapper-tab-table-content
                                            table.table
                                                thead.table__thead
                                                    tr.table__head
                                                        th.table__th
                                                        th.table__th Profi (Wi-Fi, 3G)
                                                        th.table__th Optim
                                                        th.table__th Light
                                                        th.table__th Smart
                                                tbody.table__tbody
                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Спутниковые Навигационные Системы
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt ГЛОНАСС/GPS
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt ГЛОНАСС/GPS
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt ГЛОНАСС/GPS
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt ГЛОНАСС/GPS

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Каналы передачи данных
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt GPRS <br> Wi-Fi (только для Profi Wi-Fi) <br> 3G (только для Profi 3G)
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt GPRS
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt GPRS
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt GPRS

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Возможность установки SIM-чипа
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt +
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt +
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt -
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt -

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Напряжение питания, В
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt 8...65
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt 8...65
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt 8...65
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt 8...30

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Емкость резервного аккумулятора, мАч
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt 1400
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt 1400
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt 1400
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt -

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Период сбора данных, с
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt 2...240
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt 2...240
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt 2...240
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt 2...240

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Подключение датчиков температуры 1-wire
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt +
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt +
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt -
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt -

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Исполнение антенн
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt внешние
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt внешние
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt всстроенные
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt всстроенные

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Период сбора данных, с
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt 2...240
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt 2...240
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt 2...240
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt 2...240

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Подключение датчиков температуры 1-wire
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt +
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt +
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt -
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt -

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span Исполнение антенн
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt внешние
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt внешние
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt всстроенные
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt всстроенные

                                                    tr.table__tr
                                                        td.table__td.table__mobile-title
                                                            span
                                                        td.table__td
                                                            span.table__mobile-caption Profi (Wi-Fi, 3G)
                                                            span.table__txt-btn
                                                                a(href='#').btn-order Подробнее
                                                                a(href='#').btn-book Заказть
                                                        td.table__td
                                                            span.table__mobile-caption Optim
                                                            span.table__txt-btn
                                                                a(href='#').btn-order Подробнее
                                                                a(href='#').btn-book Заказть
                                                        td.table__td
                                                            span.table__mobile-caption Light
                                                            span.table__txt-btn
                                                                a(href='#').btn-order Подробнее
                                                                a(href='#').btn-book Заказть
                                                        td.table__td
                                                            span.table__mobile-caption Smart
                                                            span.table__txt-btn
                                                                a(href='#').btn-order Подробнее
                                                                a(href='#').btn-book Заказть

                        .wrapper-card-product-100
                            .wrapper-container_title Основные особенности терминалов Omnicomm
                            .wrapper-card-product-100_txt
                                p Omnicomm LLS - это высокоточные датчики уровня топлива, предназначенные для измерения уровня топлива в топливном баке транспортного средства, стационарной емкости или дизельгенераторе. Датчики Omnicomm LLS используются в составе систем мониторинга транспорта с помощью подключения к терминалам ГЛОНАСС/GPS.
                            .wrapper-card-product-100_priorities
                                .container-priorities
                                    .container-priorities_icon
                                        .icon-mosaic
                                            <svg width="100%" height="100%" viewBox="0 0 35 32" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <path d="m20,3.9c0,-1.9 -1.5,-3.9 -5,-3.9c-3.1,0 -5.1,1.6 -5.1,3.9c0,1.4 0.6,2 0.9,2.4c0.2,0.2 0.3,0.3 0.3,0.4c0,0.2 0,0.3 -0.6,0.3l-6.1,0c-2.3,0 -4.4,1.9 -4.4,4l0,3.7c0,0.9 0.6,1.5 1.4,1.5c0.5,0 0.8,-0.3 1.1,-0.5c0.5,-0.3 1,-0.7 2,-0.7c1.7,0 3.5,1.4 3.5,4c0,2.6 -1.8,4.5 -3.5,4.5c-1,0 -1.5,-0.4 -2,-0.8c-0.3,-0.3 -0.7,-0.6 -1.2,-0.6c-0.8,0 -1.4,0.6 -1.4,1.6l0,4.1c0.1,2.2 2.2,4.2 4.5,4.2l6.1,0c0.9,0 1.5,-0.6 1.5,-1.4c0,-0.5 -0.3,-0.8 -0.5,-1.1c-0.3,-0.4 -0.7,-0.8 -0.7,-1.7c0,-1.8 1.6,-2.9 4.1,-2.9c2.5,0 4.1,1.1 4.1,2.9c0,1 -0.3,1.4 -0.7,1.7c-0.2,0.3 -0.5,0.6 -0.5,1.1c0,0.8 0.6,1.4 1.5,1.4l3.9,0c2.2,0 3.7,-1.7 3.7,-4.1l0,-4.7c0,-0.1 0.3,-0.6 0.8,-0.6c0.1,0 0.2,0.1 0.4,0.3c0.4,0.4 1,0.9 2.4,0.9c2.2,0 4.4,-1.7 4.4,-4.9c0,-3.5 -2,-5 -4,-5c-1.3,0 -2.1,0.6 -2.6,1c-0.2,0.2 -0.4,0.3 -0.6,0.3c-0.5,0 -0.8,-0.5 -0.8,-0.6c0,0 0,0 0,0l0,-3.6c0.1,-2.2 -1.4,-4 -3.6,-4l-3.9,0c0,0 0,0 0,0c-0.5,0 -0.5,-0.1 -0.5,-0.3c0,-0.1 0.1,-0.2 0.3,-0.4c0.3,-0.4 0.8,-1 0.8,-2.4zm-1.6,1.7c-0.2,0.3 -0.5,0.6 -0.5,1.1c0,0.5 0.3,1.2 1.5,1.3c0,0 0,0 0.1,0l3.9,0c1.7,0 2.7,1.6 2.7,3.2l0,3.6c0,0 0,0.1 0,0.1c0.1,0.6 0.8,1.4 1.8,1.4c0.5,0 0.8,-0.3 1.2,-0.6c0.5,-0.4 1,-0.8 2,-0.8c1.8,0 3,1.6 3,4c0,2.7 -1.8,3.9 -3.4,3.9c-1,0 -1.4,-0.3 -1.7,-0.7c-0.3,-0.2 -0.6,-0.5 -1.1,-0.5c-1,0 -1.7,0.8 -1.8,1.4c0,0 0,0.1 0,0.1l0,4.7c0,1.5 -0.8,3.1 -2.7,3.1l-3.9,0c-0.6,0 -0.6,-0.3 -0.6,-0.4c0,-0.1 0.1,-0.2 0.3,-0.4c0.4,-0.4 0.9,-1 0.9,-2.4c0,-1.9 -1.6,-3.9 -5.1,-3.9c-3,0 -5.1,1.6 -5.1,3.9c0,1.4 0.6,2 0.9,2.4c0.2,0.2 0.3,0.3 0.3,0.4c0,0.1 0,0.4 -0.5,0.4l-6.2,0c-1.7,0.1 -3.4,-1.5 -3.4,-3.2l0,-4.1c0,-0.6 0.3,-0.6 0.4,-0.6c0.1,0 0.3,0.2 0.5,0.3c0.5,0.4 1.3,1 2.6,1c2.2,0.2 4.5,-2 4.5,-5.3c0,-3.2 -2.3,-5 -4.5,-5c-1.3,0 -2.1,0.6 -2.6,0.9c-0.2,0.2 -0.4,0.3 -0.5,0.3c-0.1,0 -0.4,0 -0.4,-0.6l0,-3.6c0,-1.8 1.8,-3 3.4,-3l6.1,0c0,0 0,0 0,0l0,0c1.2,0 1.5,-0.7 1.5,-1.3c0,-0.5 -0.3,-0.8 -0.5,-1.1c-0.3,-0.4 -0.7,-0.8 -0.7,-1.7c0.1,-1.7 1.7,-2.9 4.2,-2.9c2.5,0 4,1.1 4,2.9c0,1 -0.3,1.4 -0.6,1.7z" class="st0"/>
                                            </g>
                                            </svg>
                                    .container-priorities_txt Совместимость более чем с 500 ГЛОНАСС/GPS терминалами

                                .container-priorities
                                    .container-priorities_icon
                                        .icon-thermometer
                                            <svg width="100%" height="100%" viewBox="0 0 15 45" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <g>
                                            <path d="m7.9,36.2l0,-18.9c0,-0.3 -0.3,-0.6 -0.6,-0.6c-0.3,0 -0.6,0.3 -0.6,0.6l0,18.9c-0.6,0.2 -1,0.8 -1,1.5c0,0.9 0.7,1.6 1.6,1.6s1.6,-0.7 1.6,-1.6c0,-0.7 -0.4,-1.3 -1,-1.5z" class="st0"/>
                                            <path d="m11.9,32.1l0,-27.5c0,-2.5 -2,-4.6 -4.6,-4.6c-2.5,0 -4.6,2.1 -4.6,4.6l0,27.4c-1.6,1.4 -2.7,3.4 -2.7,5.7c0,4 3.3,7.3 7.3,7.3c4,0 7.3,-3.3 7.3,-7.3c0,-2.3 -1,-4.3 -2.7,-5.6zm-0.3,9.9c-1.1,1.1 -2.6,1.8 -4.3,1.8c-1.7,0 -3.2,-0.7 -4.3,-1.8c-1.1,-1.1 -1.8,-2.6 -1.8,-4.3c0,-2 1,-3.8 2.5,-4.9l0.2,-0.2l0,-28c0,-1.9 1.5,-3.4 3.4,-3.4c1.9,0 3.4,1.5 3.4,3.4l0,28.1l0.2,0.2c1.5,1.1 2.5,2.8 2.5,4.9c0,1.6 -0.6,3.1 -1.8,4.2z" class="st0"/>
                                            </g>
                                            </g>
                                            </svg>
                                    .container-priorities_txt Бесперебойная работа при температуре от -60 до +85 С

                                .container-priorities
                                    .container-priorities_icon
                                        .icon-shield
                                            <svg width="100%" height="100%" viewBox="0 0 27 32" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <path d="m13.5,0c-8.9,0 -13.2,5 -13.4,5.3c-0.1,0.1 -0.1,0.2 -0.1,0.3l0,10.1c0,8.4 7.8,13.5 11.2,15.3c0.2,0.1 0.5,0 0.7,-0.2c0.1,-0.2 0,-0.5 -0.2,-0.7c-4,-2.1 -10.7,-6.8 -10.7,-14.5l0,-9.8c0.7,-0.8 4.6,-4.6 12,-4.8l0,30.5c0,0.3 0.2,0.5 0.5,0.5c0.1,0 0.3,-0.1 0.4,-0.2c1.6,-0.7 13.1,-6 13.1,-16.3l0,-10c0,-0.1 0,-0.2 -0.1,-0.3c-0.2,-0.2 -3.7,-4.4 -11.2,-5.1c-0.3,0 -0.5,0.2 -0.5,0.4c0,0.3 0.2,0.5 0.4,0.5c6.3,0.7 9.7,4 10.4,4.7l0,9.8c0,9 -9.4,13.9 -12,15.2l0,-30.2c0,-0.3 -0.2,-0.5 -0.5,-0.5z" class="st0"/>
                                            </g>
                                            </svg>
                                    .container-priorities_txt Надежная защита от помех, сбоев и ошибок подключения

                                .container-priorities
                                    .container-priorities_icon
                                        .icon-target
                                            <svg width="42" height="32" viewBox="0 0 42 32" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <path d="m41.8,13.1c-0.2,-0.2 -0.6,-0.2 -0.8,0.1l-2.3,2.8c-0.1,0 -0.1,0 -0.2,0l-1.4,0l1.8,-2.1c0.2,-0.2 0.2,-0.6 -0.1,-0.8c-0.2,-0.2 -0.6,-0.2 -0.8,0.1l-2.3,2.8l-1.6,0l1.8,-2.1c0.2,-0.2 0.2,-0.6 -0.1,-0.8c-0.2,-0.2 -0.6,-0.2 -0.8,0.1l-2.2,2.8l-0.8,0c0,-8.8 -7.2,-16 -16,-16c-8.8,0 -16,7.2 -16,16s7.2,16 16,16c8.5,0 15.4,-6.6 15.9,-15l0.8,0l2.3,2.8c0.1,0.1 0.3,0.2 0.4,0.2c0.1,0 0.2,0 0.3,-0.1c0.2,-0.2 0.3,-0.5 0.1,-0.8l-1.7,-2.1l1.6,0l2.3,2.8c0.1,0.1 0.3,0.2 0.4,0.2c0.1,0 0.2,0 0.3,-0.1c0.2,-0.2 0.3,-0.5 0.1,-0.8l-1.7,-2.1l1.4,0c0.1,0 0.1,0 0.2,0l2.4,2.8c0.1,0.1 0.3,0.2 0.4,0.2c0.1,0 0.2,0 0.3,-0.1c0.2,-0.2 0.3,-0.5 0.1,-0.8l-2.2,-2.7l2.2,-2.7c0.1,-0.1 0.1,-0.4 -0.1,-0.6zm-25.8,17.9c-8.3,0 -15,-6.7 -15,-15s6.7,-15 15,-15c8.3,0 15,6.7 15,15l-3,0c0,-6.6 -5.4,-12 -12,-12c-6.6,0 -12,5.4 -12,12s5.4,12 12,12c6.3,0 11.4,-4.8 11.9,-11l3,0c-0.5,7.8 -7,14 -14.9,14zm8,-15c0,-4.4 -3.6,-8 -8,-8c-4.4,0 -8,3.6 -8,8s3.6,8 8,8c4.1,0 7.4,-3 7.9,-7l3,0c-0.5,5.6 -5.2,10 -10.9,10c-6.1,0 -11,-4.9 -11,-11s4.9,-11 11,-11c6.1,0 11,4.9 11,11l-3,0zm-4,0c0,-2.2 -1.8,-4 -4,-4c-2.2,0 -4,1.8 -4,4s1.8,4 4,4c1.8,0 3.4,-1.3 3.8,-3l3.1,0c-0.5,3.4 -3.4,6 -6.9,6c-3.9,0 -7,-3.1 -7,-7s3.1,-7 7,-7c3.8,0 7,3.1 7,7l-3,0zm-3.5,1l2.3,0c-0.4,1.1 -1.5,2 -2.8,2c-1.7,0 -3,-1.3 -3,-3s1.3,-3 3,-3c1.6,0 3,1.3 3,3l-2.5,0c-0.3,0 -0.5,0.2 -0.5,0.5s0.2,0.5 0.5,0.5z" class="st0"/>
                                            </g>
                                            </svg>
                                    .container-priorities_txt Высокая точность, погрешность измерений не превышает 1%

                                .container-priorities
                                    .container-priorities_icon
                                        .icon-key
                                            <svg width="100%" height="100%" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <path d="m28.3,1.4c0.1,-0.1 0.2,-0.3 0.1,-0.4c0,-0.2 -0.1,-0.3 -0.3,-0.4c-2.3,-1.1 -5,-0.6 -6.8,1.2c-1.7,1.7 -2.3,4.4 -1.5,6.6l-11.5,11.5c-0.6,-0.2 -1.3,-0.3 -2,-0.3c-1.7,0 -3.4,0.7 -4.6,1.9c-1.8,1.8 -2.3,4.4 -1.3,6.7c0.1,0.2 0.2,0.3 0.4,0.3c0.2,0 0.3,0 0.4,-0.1l3.5,-3.5c0.2,-0.2 0.6,-0.3 0.8,-0.1l1.5,1.6c0.2,0.2 0.2,0.6 0,0.8l-3.5,3.5c-0.1,0.1 -0.2,0.3 -0.1,0.4c0,0.2 0.1,0.3 0.3,0.4c0.8,0.4 1.7,0.6 2.6,0.6c1.6,0 3.1,-0.6 4.2,-1.8c1.7,-1.7 2.3,-4.4 1.5,-6.6l11.5,-11.5c0.6,0.2 1.3,0.3 2,0.3c1.7,0 3.4,-0.7 4.6,-1.9c1.8,-1.8 2.3,-4.4 1.3,-6.7c-0.1,-0.2 -0.2,-0.3 -0.4,-0.3c-0.2,0 -0.3,0 -0.4,0.1l-3.5,3.5c-0.2,0.2 -0.6,0.2 -0.8,0l-1.5,-1.5c-0.2,-0.2 -0.2,-0.6 0,-0.8l3.5,-3.5zm-4.2,5l1.5,1.5c0.6,0.6 1.6,0.6 2.2,0l2.9,-2.9c0.5,1.7 0,3.6 -1.3,4.9c-1,1 -2.4,1.6 -3.8,1.6c-0.7,0 -1.3,-0.1 -1.9,-0.4c-0.2,-0.1 -0.4,0 -0.5,0.1l-12,12c-0.1,0.1 -0.2,0.4 -0.1,0.5c0.8,1.9 0.3,4.4 -1.2,5.9c-1.3,1.3 -3.2,1.8 -5,1.3l2.9,-3c0.6,-0.6 0.6,-1.6 0,-2.2l-1.5,-1.6c-0.6,-0.6 -1.6,-0.5 -2.2,0.1l-2.9,2.9c-0.5,-1.7 0,-3.6 1.3,-4.9c1,-1 2.4,-1.6 3.8,-1.6c0.7,0 1.3,0.1 1.9,0.4c0.2,0.1 0.4,0 0.5,-0.1l12,-12c0.3,-0.2 0.3,-0.4 0.2,-0.6c-0.8,-1.9 -0.3,-4.4 1.2,-5.9c1.3,-1.3 3.2,-1.8 5,-1.3l-3,3c-0.6,0.7 -0.6,1.7 0,2.3z" class="st0"/>
                                            </g>
                                            </svg>
                                    .container-priorities_txt Простота установки

                                .container-priorities
                                    .container-priorities_icon
                                        .icon-guarantee
                                            <svg width="100%" height="100%" viewBox="0 0 37 32" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <path d="m27,0c-2.5,0 -4.9,0.9 -6.7,2.6c-0.7,0.6 -1.3,1.4 -1.8,2.1c-0.5,-0.7 -1.1,-1.5 -1.8,-2.1c-1.8,-1.7 -4.2,-2.6 -6.7,-2.6c-5.5,0 -10,4.5 -10,10c0,3.7 1.2,6.7 3.9,9.8c3.9,4.6 13.9,11.6 14.3,11.9c0.1,0.1 0.2,0.1 0.3,0.1c0.1,0 0.2,0 0.3,-0.1c0.4,-0.3 10.4,-7.3 14.3,-11.9c2.7,-3.2 3.9,-6.1 3.9,-9.8c0,-5.5 -4.5,-10 -10,-10zm5.4,19.2c-3.5,4.1 -12.2,10.3 -13.9,11.5c-1.7,-1.2 -10.4,-7.5 -13.9,-11.5c-2.5,-3 -3.6,-5.7 -3.6,-9.2c0,-5 4,-9 9,-9c2.2,0 4.4,0.8 6,2.3c0.8,0.8 1.5,1.7 2,2.7c0.2,0.3 0.7,0.3 0.9,0c0.5,-1 1.2,-1.9 2,-2.7c1.7,-1.5 3.9,-2.3 6.1,-2.3c5,0 9,4 9,9c0,3.5 -1.1,6.2 -3.6,9.2z" class="st0"/>
                                            </g>
                                            </svg>
                                    .container-priorities_txt Пожизненная гарантия

            include includes/_form-order
